<!-- Content Header (Page header) -->
<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0 text-dark">Add <%=extraVar['modelName']%></h1>
      </div><!-- /.col -->
      <div class="col-sm-6">
        <a href="/admin/<%= extraVar.viewDirectory %>" class="btn btn-primary float-right">Back</a>
      </div><!-- /.col -->
    </div><!-- /.row -->
  </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->
<section class="content">
    <div class="row">
      <!-- left column -->
      <div class="col-md-12">
        <!-- general form elements -->
        
        <div class="card card-primary">
          
          <!-- <div class="card-header">
            <h3 class="card-title">Add <%=extraVar['modelName']%></h3>
          </div> -->
          <!-- /.card-header -->
          <!-- form start -->
          <form method="post" id="formId" action="/admin/<%=extraVar.viewDirectory%>/add">
            <div class="card-body">
              <div class="row">
                <div class="col-sm-12">
                  <div class="form-group">
                    <label>Select Group</label>
                    <select name="group_id" class="form-control select2">
                      <% extraVar.results.groups.forEach(function(data){ %>
                        <option value="<%= data.id %>"><%= data.name %></option>
                      <% }); %>                  
                    </select>
                    <div class="group_id-error-message error-message"></div>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="">Party Account Name</label>
                    <input name="account_name" type="text" class="form-control" id="" placeholder="">
                    <div class="account_name-error-message error-message"></div>
                  </div>
                  <div class="form-group">
                    <label for="">Address</label>
                    <textarea name="address" type="text" class="form-control" id="" placeholder=""></textarea>
                    <div class="address-error-message error-message"></div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-4">
                  <div class="form-group">
                    <label>Select State</label>
                    <select name="state_id" id="stateId" class="form-control select2">
                      <option value="">Select State</option>
                      <% extraVar.results.states.forEach(function(data){ %>
                        <option value="<%= data.id %>"><%= data.name %></option>
                      <% }); %>                  
                    </select>
                    <div class="state_id-error-message error-message"></div>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="form-group">
                    <label>City</label>
                    <input name="city" type="text" class="form-control" placeholder="">
                    <!-- <select name="city_id" id="cityId" class="form-control select2">
                    </select> -->
                    <div class="city-error-message error-message"></div>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="form-group">
                    <label for="">PIN</label>
                    <input name="pin" type="text" class="form-control" placeholder="">
                    <div class="pin-error-message error-message"></div>
                  </div>
                </div>                                
              </div>
              <div class="row">
                <div class="col-sm-4">
                  <div class="form-group">
                    <label for="">Email</label>
                    <input name="email" type="text" class="form-control" placeholder="">
                    <div class="email-error-message error-message"></div>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="form-group">
                    <label for="">Mobile 1</label>
                    <input name="mobile1" type="text" class="form-control" placeholder="">
                    <div class="mobile1-error-message error-message"></div>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="form-group">
                    <label for="">Mobile 2</label>
                    <input name="mobile2" type="text" class="form-control" placeholder="">
                    <div class="mobile2-error-message error-message"></div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-4">
                  <div class="form-group">
                    <label for="">Bank Name</label>
                    <input name="bank_name" type="text" class="form-control" placeholder="">
                    <div class="bank_name-error-message error-message"></div>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="form-group">
                    <label for="">Ac. No.</label>
                    <input name="ac_no" type="text" class="form-control" placeholder="">
                    <div class="ac_no-error-message error-message"></div>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="form-group">
                    <label for="">IFSC</label>
                    <input name="ifsc" type="text" class="form-control" placeholder="">
                    <div class="ifsc-error-message error-message"></div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-4">
                  <div class="form-group">
                    <label for="">GSTIN</label>
                    <input name="gstin" type="text" class="form-control" id="" placeholder="">
                    <div class="gstin-error-message error-message"></div>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="form-group">
                    <label for="">PAN No.</label>
                    <input name="pan_no" type="text" class="form-control" id="" placeholder="">
                    <div class="pan_no-error-message error-message"></div>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="form-group">
                    <label for="">Registration No.(MSME)</label>
                    <input name="registration_no" type="text" class="form-control" id="" placeholder="">
                    <div class="registration_no-error-message error-message"></div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-4">
                  <div class="form-group">
                    <label for="">Creadit Days</label>
                    <input name="creadit_days" type="number" class="form-control" id="" placeholder="30">
                    <div class="creadit_days-error-message error-message"></div>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="form-group">
                    <label for="">District</label>
                    <input name="district" type="text" class="form-control" id="" placeholder="">
                    <div class="district-error-message error-message"></div>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="form-group">
                    <label>Select Status</label>
                    <select name="status" class="form-control select2">
                      <option value="active">Active</option>
                      <option value="inactive">Inactive</option>
                      <option value="suspend">Suspend</option>
                    </select>
                    <div class="status-error-message error-message"></div>
                  </div>
                </div>
              </div>              
            </div>
            <!-- /.card-body -->
            <div class="card-footer">
              <button type="submit" class="btn btn-primary submitBtn">Submit</button>
            </div>
          </form>
        </div>
        <!-- /.card -->

      </div>
      <!--/.col (left) -->
    </div>
    <!-- /.row -->
  </div><!-- /.container-fluid -->
</section>
<!-- Summernote -->
<script src="/admin/plugins/summernote/summernote-bs4.min.js"></script>

<script type="text/javascript">

  $(function () {
    $('.ckEditor').summernote({
      height: 300
    })
  })
    
  $(document).ready(function() {
    // $.notify(data.message, { className:"success",position:"bottom right" });
    var formId = 'formId';
    $(document).on('click', '.submitBtn', function(){
      $('.error-message').html('');
      $('#'+formId).validate({
        rules: {
          title: {
            // required: true,
          }
        },
        messages: {
          title: {
            required: "This field is required!",
          },
        },
        errorElement: 'span',
        errorPlacement: function (error, element) {
          error.addClass('invalid-feedback');
          element.closest('.form-group').append(error);
        },
        highlight: function (element, errorClass, validClass) {
          $(element).addClass('is-invalid');
        },
        unhighlight: function (element, errorClass, validClass) {
          $(element).removeClass('is-invalid');
        },
        submitHandler: function(form) {

          var form = $('#'+formId);
          errorFieldObj = [];
          $.ajax({
            url: $('#'+formId).attr('action'),
            type: 'POST',
            dataType: "json",
            data: new FormData(form[0]),
            processData: false,
            contentType: false,
            cache: false,
            success: function (data, status)
            {
              if (data.status) {
                window.location.href = data.url;
              }
            },
            error: function (xhr, desc, err)
            {
              xhr.responseJSON.data.map(function(val){
                console.log(val)
                if(!errorFieldObj.includes(val.path)){
                  
                  $('.'+val.path+'-error-message').html(val.message)
                  errorFieldObj.push(val.path)
                }
              })

            }
          })
        }
      });
    });
  });
</script>