<!-- Content Header (Page header) -->
<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0 text-dark">Add <%=extraVar['modelName']%></h1>
      </div><!-- /.col -->
      <div class="col-sm-6">
        <a href="/admin/<%= extraVar.viewDirectory %>" class="btn btn-primary float-right">Back</a>
      </div><!-- /.col -->
    </div><!-- /.row -->
  </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->
<section class="content">
    <div class="row">
      <!-- left column -->
      <div class="col-md-12">
        <!-- general form elements -->
        
        <div class="card card-primary">
          
          <!-- <div class="card-header">
            <h3 class="card-title">Add <%=extraVar['modelName']%></h3>
          </div> -->
          <!-- /.card-header -->
          <!-- form start -->
          <form method="post" id="formId" action="/admin/<%=extraVar.viewDirectory%>/add">
            <div class="card-body">
              <table id="example1" class="table table-bordered table-striped">
                <thead>
                <tr>
                  <th>No.</th>
                  <th>Type</th>
                  <th>Item Name</th>
                  <th>SubItem Name</th>                  
                  <th>Quantity</th>            
                </tr>
                </thead>
                  <tbody>
                    <% if(extraVar.results.items.length > 0) { %>
                      <% extraVar.results.items.forEach(function(rows, index){ %>
                      <tr>
                        <td><%= ++index %></td>
                        <td>Purchase </td>
                        <td><%= rows.item_name %></td>
                        <td>&nbsp;</td>                        
                        <td>
                          <input type="hidden" value="<%= (extraVar.results.stockItemObj[rows.id+'_purchase'] ?  extraVar.results.stockItemObj[rows.id+'_purchase']['id'] : '')%>" name=id[] />
                          <input type="hidden" value="<%=rows.id%>" name=item_id[] />
                          <input type="hidden" value="" name=sub_item_id[] />
                          <input type="hidden" value="purchase" name=type[] />
                          <input type="text" value="<%= (extraVar.results.stockItemObj[rows.id+'_purchase'] ?  extraVar.results.stockItemObj[rows.id+'_purchase']['quantity'] : '')%>" name=quantity[] />
                        </td>                        
                      </tr>      
                      <% if(rows.category_id == 2) { %>          
                        <tr>
                          <td><%= ++index %></td>
                          <td>Production</td>
                          <td><%= rows.item_name %></td>
                          <td>&nbsp;</td>    
                          <td>
                            <input type="hidden" value="<%= (extraVar.results.stockItemObj[rows.id+'_production'] ?  extraVar.results.stockItemObj[rows.id+'_production']['id'] : '')%>" name=id[] />
                            <input type="hidden" value="<%=rows.id%>" name=item_id[] />
                            <input type="hidden" value="" name=sub_item_id[] />
                            <input type="hidden" value="production" name=type[] />
                            <input type="text" value="<%= (extraVar.results.stockItemObj[rows.id+'_production'] ?  extraVar.results.stockItemObj[rows.id+'_production']['quantity'] : '')%>" name=quantity[] />
                          </td>                      
                        </tr>  
                      <% } %>       
                      <% if(rows.SubItems.length > 0) { %>
                        <% rows.SubItems.forEach(function(v, i){ %>
                          <tr>
                            <td><%= ++index %></td>
                            <td>Purchase</td>
                            <td><%= rows.item_name %></td>
                            <td><%= v.name %></td>    
                            <td>
                              <input type="hidden" value="<%= (extraVar.results.stockItemObj[v.id+'_purchase'] ?  extraVar.results.stockItemObj[v.id+'_purchase']['id'] : '')%>" name=id[] />
                              <input type="hidden" value="<%=rows.id%>" name=item_id[] />
                              <input type="hidden" value="<%=v.id%>" name=sub_item_id[] />
                              <input type="hidden" value="purchase" name=type[] />
                              <input type="text" value="<%= (extraVar.results.stockItemObj[v.id+'_purchase'] ?  extraVar.results.stockItemObj[v.id+'_purchase']['quantity'] : '')%>" name=quantity[] />
                            </td>
                          </tr>
                          <tr>
                            <td><%= ++index %></td>
                            <td>Production</td>
                            <td><%= rows.item_name %></td>
                            <td><%= v.name %></td>      
                            <td>
                              <input type="hidden" value="<%= (extraVar.results.stockItemObj[v.id+'_production'] ?  extraVar.results.stockItemObj[v.id+'_production']['id'] : '')%>" name=id[] />
                              <input type="hidden" value="<%=rows.id%>" name=item_id[] />
                              <input type="hidden" value="<%=v.id%>" name=sub_item_id[] />
                              <input type="hidden" value="production" name=type[] />
                              <input type="text" value="<%= (extraVar.results.stockItemObj[v.id+'_production'] ?  extraVar.results.stockItemObj[v.id+'_production']['quantity'] : '')%>" name=quantity[] />
                            </td>
                          </tr>
                        <% }); %>
                      <% } %>
                      <% }); %>
                    <% } else { %>
                      <td colspan="13" class="text-center">No Record Found.</td>
                    <% } %>
                  </tbody>
              </table>
            </div>
            <!-- /.card-body -->

            <div class="card-footer">
              <button type="submit" class="btn btn-primary submitBtn">Submit</button>
            </div>
          </form>
        </div>
        <!-- /.card -->
        <span style="display: none;" id="itemsObj"><%= JSON.stringify(extraVar.results.items); %></span>
      </div>
      <!--/.col (left) -->
    </div>
    <!-- /.row -->
  </div><!-- /.container-fluid -->
</section>
<!-- Summernote -->
<script src="/admin/plugins/summernote/summernote-bs4.min.js"></script>

<script type="text/javascript">

  $(document).ready(function() {
    // $.notify(data.message, { className:"success",position:"bottom right" });
    var formId = 'formId';
    $(document).on('click', '.submitBtn', function(){
      $('.error-message').html('');
      $('#'+formId).validate({
        rules: {
          title: {
            // required: true,
          }
        },
        messages: {
          title: {
            required: "This field is required!",
          },
        },
        errorElement: 'span',
        errorPlacement: function (error, element) {
          error.addClass('invalid-feedback');
          element.closest('.form-group').append(error);
        },
        highlight: function (element, errorClass, validClass) {
          $(element).addClass('is-invalid');
        },
        unhighlight: function (element, errorClass, validClass) {
          $(element).removeClass('is-invalid');
        },
        submitHandler: function(form) {

          var form = $('#'+formId);
          errorFieldObj = [];
          $.ajax({
            url: $('#'+formId).attr('action'),
            type: 'POST',
            dataType: "json",
            data: new FormData(form[0]),
            processData: false,
            contentType: false,
            cache: false,
            success: function (data, status)
            {
              if (data.status) {
                window.location.href = data.url;
              } else {
                $.notify("Somthing went wrong, Please try again!", { className:"error", position:"bottom right" });
              }
            },
            error: function (xhr, desc, err)
            {
              xhr.responseJSON.data.map(function(val){
                console.log(val)
                if(!errorFieldObj.includes(val.path)){
                  
                  $('.'+val.path+'-error-message').html(val.message)
                  errorFieldObj.push(val.path)
                }
              })

            }
          })
        }
      });
    });
  });
</script>