<!-- Content Header (Page header) -->
<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0 text-dark">Edit <%=extraVar['modelName']%></h1>
      </div><!-- /.col -->
      <div class="col-sm-6">
        <a href="/admin/<%= extraVar.viewDirectory %>" class="btn btn-primary float-right">Back</a>
      </div><!-- /.col -->
    </div><!-- /.row -->
    <div class="row mb-2">
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-left">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
          <li class="breadcrumb-item active">Dashboard v2</li>
        </ol>
      </div><!-- /.col -->
    </div><!-- /.row -->
  </div><!-- /.container-fluid -->
</div> 
<!-- /.content-header -->
<section class="content">
  <div class="container-fluid">
    <div class="row">
      <!-- left column -->
      <div class="col-md-12">
        <!-- general form elements -->
        <div class="card card-primary">
          <div class="card-header">
            <h3 class="card-title">Edit <%=extraVar['modelName']%></h3>
          </div>
          <!-- /.card-header -->
          <!-- form start -->
          <form method="post" id="formId" action="/admin/<%=extraVar.viewDirectory%>/edit">
            <input type='hidden' name='id' value='<%= extraVar.results.my_model.id %>'>
            <input type="hidden" class="itemIndexValue" value="<%= extraVar.results.my_model.InvoiceItems.length -1 %>">
            <div class="card-body">
              <!-- <div class="form-group">
                <label>Select Category</label>
                <select name="item_id" class="form-control select2">
                  <% extraVar.results.items.forEach(function(data){ %>
                    <option value="<%= data.id %>"><%= data.name %></option>
                  <% }); %>                  
                </select>
                <div class="item_id-error-message error-message"></div>
              </div> -->
              <div class="row">
                <div class="col-sm-2">
                  <div class="form-group">
                    <label for="">Invoice No.</label>
                    <input name="invoice_no" value="<%= extraVar.results.my_model.invoice_no%>" type="text" class="form-control"  placeholder="">
                    <div class="invoice_no-error-message error-message"></div>
                  </div>
                </div>
                <div class="col-sm-2">
                  <div class="form-group">
                    <label for="">Date</label>
                    <input name="date" type="text" value="<%= extraVar.results.my_model.date%>" class="form-control date1"  placeholder="">
                    <div class="date-error-message error-message"></div>
                  </div>
                </div>
                <div class="col-sm-3">
                  <div class="form-group">
                    <label for="">Consignee Name</label>
                    <select name="consignee_no" class="form-control select2 consigneeAccount">
                      <option value="">Select Account</option>
                      <% extraVar.results.accounts.forEach(function(data){ %>
                        <option <%= data.id==extraVar.results.my_model.consignee_no ? 'selected':'' %> address="<%= data.address %>" gstin="<%= data.gstin %>" value="<%= data.id %>" title="AC00<%=data.id %>"><%= data.account_name %></option>
                      <% }); %>                  
                    </select>
                    <div class="consignee_no-error-message error-message"></div>
                  </div>
                </div>
                <div class="col-sm-3">
                  <div class="form-group">
                    <label for="">Buyer</label>
                    <select name="buyer" class="form-control select2">
                      <option value="">Select Account</option>
                      <% extraVar.results.accounts.forEach(function(data){ %>
                        <option <%= data.id==extraVar.results.my_model.buyer ? 'selected':'' %> gstin="<%= data.gstin %>" value="<%= data.id %>" title="AC00<%=data.id %>"><%= data.account_name %></option>
                      <% }); %>                  
                    </select>
                    <div class="buyer-error-message error-message"></div>
                  </div>
                </div>
                <div class="col-sm-2">
                  <div class="form-group">
                    <label for="">Consignee Add</label>
                    <input name="buyer_add" value="<%= extraVar.results.my_model.buyer_add%>" type="text" class="form-control buyer_add"  placeholder="">
                    <div class="buyer_add-error-message error-message"></div>
                  </div>
                </div>
              </div>
              <div class="row">
                
                <div class="col-sm-2">
                  <div class="form-group">
                    <label for="">Driver No.</label>
                    <input name="driver_no" value="<%= extraVar.results.my_model.driver_no%>" type="text" class="form-control"  placeholder="">
                    <div class="driver_no-error-message error-message"></div>
                  </div>
                </div>
                <!-- <div class="col-sm-2">
                  <div class="form-group">
                    <label for="">Challan Date</label>
                    <input name="challan_date" value="<%= extraVar.results.my_model.challan_date%>" type="text" class="form-control date1"  placeholder="">
                    <div class="challan_date-error-message error-message"></div>
                  </div>
                </div> -->
                <div class="col-sm-2">
                  <div class="form-group">
                    <label for="">Time of Remeber</label>
                    <input name="time_of_remeber" value="<%= extraVar.results.my_model.time_of_remeber%>" type="text" class="form-control"  placeholder="">
                    <div class="time_of_remeber-error-message error-message"></div>
                  </div>
                </div>
                <div class="col-sm-2">
                  <div class="form-group">
                    <label for="">Order No</label>
                    <input name="order_no" value="<%= extraVar.results.my_model.order_no%>" type="text" class="form-control"  placeholder="">
                    <div class="order_no-error-message error-message"></div>
                  </div>
                </div>
                <div class="col-sm-2">
                  <div class="form-group">
                    <label for="">Order Date</label>
                    <input name="order_date" value="<%= extraVar.results.my_model.order_date%>" type="text" class="form-control date1"  placeholder="">
                    <div class="order_date-error-message error-message"></div>
                  </div>
                </div>
                <div class="col-sm-2">
                  <div class="form-group">
                    <label for="">Transaction Mode</label>
                    <input name="transaction_mode" value="<%= extraVar.results.my_model.transaction_mode%>" type="text" class="form-control"  placeholder="">
                    <div class="transaction_mode-error-message error-message"></div>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-sm-2">
                  <div class="form-group">
                    <label for="">Dispach Through</label>
                    <input name="dispach_through" value="<%= extraVar.results.my_model.dispach_through%>" type="text" class="form-control"  placeholder="">
                    <div class="dispach_through-error-message error-message"></div>
                  </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                      <label for="">Delivery At</label>
                      <input name="delivery_at" value="<%= extraVar.results.my_model.delivery_at%>" type="text" class="form-control"  placeholder="">
                      <div class="delivery_at-error-message error-message"></div>
                    </div>
                </div>
                <div class="col-sm-2">
                  <div class="form-group">
                    <label for="">Vehicle No.</label>
                    <input name="vehicle_no" value="<%= extraVar.results.my_model.vehicle_no%>" type="text" class="form-control"  placeholder="">
                    <div class="vehicle_no-error-message error-message"></div>
                  </div>
                </div>
                <div class="col-sm-2">
                  <div class="form-group">
                    <label for="">RR GR No.</label>
                    <input name="rr_gr_no" value="<%= extraVar.results.my_model.rr_gr_no%>" type="text" class="form-control"  placeholder="">
                    <div class="rr_gr_no-error-message error-message"></div>
                  </div>
                </div>
                <div class="col-sm-2">
                  <div class="form-group">
                    <label for="">RR Date</label>
                    <input name="rr_date" value="<%= extraVar.results.my_model.rr_date%>" type="text" class="form-control date1"  placeholder="">
                    <div class="rr_date-error-message error-message"></div>
                  </div>
                </div>
                <div class="col-sm-2">
                  <div class="form-group">
                    <label for="">Freight</label>
                    <input name="freight" value="<%= extraVar.results.my_model.freight%>" type="text" class="form-control"  placeholder="">
                    <div class="freight-error-message error-message"></div>
                  </div>
                </div>
              </div>

              <div class="row">
                
                <div class="col-sm-2">
                  <div class="form-group">
                    <label for="">Pay By</label>
                    <input name="pay_by" value="<%= extraVar.results.my_model.pay_by%>" type="text" class="form-control"  placeholder="">
                    <div class="pay_by-error-message error-message"></div>
                  </div>
                </div>    
                <div class="col-sm-2">
                  <div class="form-group">
                    <label for="">Payment Terms</label>
                    <input name="payment_terms" value="<%= extraVar.results.my_model.payment_terms%>" type="text" class="form-control"  placeholder="">
                    <div class="payment_terms-error-message error-message"></div>
                  </div>
                </div>                                            
              </div>
              <div class="itemCantainer">
                <div class="row">
                  <div class="col-sm-12">
                    <div class="card card-primary">
                      <div class="card-header">
                        <h3 class="card-title">Item Detail</h3>
                      </div>
                      <div class="card-body">
                        <div class="gridTable itemDiv">
                          <% extraVar.results.my_model.InvoiceItems.forEach(function(item, index){ %>
                            <div class="row itemRow">
                              <input type="hidden" name="item[<%=index%>][id]" value="<%=item.id%>" />
                              <div class="col-sm-2">
                                  <div class="form-group">
                                      <small><b>Item Type: </b></small>
                                      <select disabled indexvalue="<%= index%>" onchange="itemType(this, <%= index%>)" class="form-control select2 item_type_<%= index%>">
                                          <option <%= item.type == 'production' ? 'selected' : '' %> value="production">From Production</option>
                                          <option <%= item.type == 'purchase' ? 'selected' : '' %> value="purchase">From Purchase</option>
                                      </select>
                                      <input class="item_type_hidden_<%= index%>" type="hidden" value="<%= item.type%>" name="item[<%= index%>][type]">
                                      <div class="item_type_<%= index%>-error-message error-message"></div>
                                  </div>
                              </div>
                              <div class="col-sm-2">
                                  <div class="form-group">
                                      <small><b>Item: </b></small>
                                      <select disabled indexvalue="<%= index%>" onchange="itemName(this, <%= index%>)" class="form-control select2 selectItem item_item_id_<%= index%>" >
                                        <% extraVar.results.items.forEach(function(data){ %>
                                          <option <%= item.item_id == data.id ? 'selected' : '' %> value="<%= data.id %>"><%= data.item_name %></option>
                                        <% }); %>
                                      </select>
                                      <input class="item_name_hidden_<%= index%>" type="hidden" value="<%= item.item_id%>" name="item[<%= index%>][item_id]">
                                      <small class="item_unit_<%= index%> selectUnit">
                                          <b>Unit: </b><span>Kg</span>
                                      </small>
                                      <div class="item_item_id_<%= index%>-error-message error-message"></div>
                                  </div>
                              </div>
                              <div class="col-sm-2">
                                  <div class="form-group">
                                      <small><b>Sub Item: </b></small>
                                      <select disabled indexvalue="<%= index%>" onchange="subItemName(this, <%= index%>)" class="form-control select2 selectSubItem selectSubItem_<%= index%> item_sub_item_id_<%= index%>">
                                        <option value="">Select Sub Item</option>
                                        <% if(extraVar.results.itemsSubItem[item.item_id] && extraVar.results.itemsSubItem[item.item_id].length){ %>
                                          <% extraVar.results.itemsSubItem[item.item_id].forEach(function(data){ %>
                                            <option <%= data.id == item.sub_item_id ? 'selected' : '' %> value="<%= data.id%>"><%= data.name%></option>
                                          <% }); %>
                                        <% } %>  
                                      </select>
                                      <input class="sub_item_name_hidden_<%= index%>" type="hidden" value="<%= item.sub_item_id%>" name="item[<%= index%>][sub_item_id]">
                                      <div class="item_sub_item_id_<%= index%>-error-message error-message"></div>
                                  </div>
                              </div>
                              <div class="col-sm-2">
                                  <div class="form-group">
                                      <small><b>Description: </b></small>
                                      <input readonly name="item[<%= index%>][description]" type="text" value="<%= item.description%>" class="form-control desc item_description_<%= index%>" placeholder="">
                                      <div class="item_description_<%= index%>-error-message error-message"></div>
                                  </div>
                              </div>
                              <div class="col-sm-2">
                                  <div class="form-group">
                                      <small><b>No.: </b></small>
                                      <input readonly name="item[<%= index%>][no_of_pkg]" type="number" value="<%= item.no_of_pkg%>" class="form-control pkt item_no_of_pkg_<%= index%>" placeholder="">
                                      <div class="item_no_of_pkg_<%= index%>-error-message error-message"></div>
                                  </div>
                              </div>
                              <div class="col-sm-2">
                                  <div class="form-group">
                                      <small><b>Quantity: </b></small>
                                      <input readonly name="item[<%= index%>][quantity]" type="number" value="<%= item.quantity%>" class="form-control qty item_quantity_<%= index%>" placeholder="">
                                      <small><b>Stocks: </b><span  class="item_quantity_display_<%= index%>"></span></small>
                                      <div class="item_quantity_<%= index%>-error-message error-message"></div>
                                  </div>
                              </div>
                              <div class="col-sm-2">
                                  <div class="form-group">
                                      <small><b>Rate: </b></small>
                                      <input readonly name="item[<%= index%>][rate]" type="number" value="<%= item.rate%>" class="form-control rate item_rate_<%= index%>" placeholder="">
                                      <div class="item_rate_<%= index%>-error-message error-message"></div>
                                  </div>
                              </div>
                              <div class="col-sm-2">
                                  <div class="form-group">
                                      <small><b>GST (%): </b></small>
                                      <input readonly name="item[<%= index%>][gst]" type="number" value="<%= item.gst%>" class="form-control gst item_gst_<%= index%>" placeholder="">
                                      <div class="item_gst_<%= index%>-error-message error-message"></div>
                                  </div>
                              </div>
                              <div class="col-sm-2">
                                  <div class="form-group">
                                      <small><b>Item GST: </b></small>
                                      <input readonly name="item[<%= index%>][gst_amount]" type="number" value="<%= item.gst_amount%>" class="form-control gstAmount item_gst_amount_<%= index%>" placeholder="">
                                  </div>
                              </div>
                              <div class="col-sm-2">
                                  <div class="form-group">
                                      <small><b>Item Amount: </b></small>
                                      <input readonly name="item[<%= index%>][amount]" type="number" value="<%= item.amount%>" class="form-control amount itemValue item_amount_<%= index%>" placeholder="">
                                      <div class="item_amount_<%= index%>-error-message error-message"></div>
                                  </div>
                              </div>
                              <div class="col-sm-2 " style="display: flex;align-items: center;">
                                  <button onclick="removeItems(<%=item.id%>)" type="button" class="btn btn-danger float-right">
                                      <i class="fas fa-times"></i>
                                  </button>
                                  <!-- &nbsp;<button onclick="editItems(this)" type="button" itemindexvalue="<%= index%>" class="btn btn-danger float-right editItemsBtn_<%= index%>">
                                      <i class="fas fa-edit"></i>
                                  </button>
                                  &nbsp;<button style="display:none;" itemindexvalue="<%= index%>" onclick="updateItems(this)" type="button" class="btn btn-info updateItemsBtn_<%= index%>">
                                      <i class="fas fa-pencil"></i> Update Item
                                  </button> -->
                              </div>
                            </div> 
                          <% }); %>
                          <div class="items-error-message error-message"></div>                   
                        </div>
                      </div>
                      <div class="card-footer itemAddRow">
                        <div class="row">
                          <div class="col-sm-2">
                              <div class="form-group">
                                <small><b>Item Type: </b></small>
                                <select onchange="itemType(this, 0)" class="form-control select2 item_type_<%=extraVar.results.my_model.InvoiceItems.length%>" indexValue="<%=extraVar.results.my_model.InvoiceItems.length%>">
                                  <option value="production">From Production</option>
                                  <option value="purchase">From Purchase</option>
                                </select>
                                <div class="item_type_-error-message error-message"></div>
                              </div>
                          </div>
                          <div class="col-sm-2">
                              <div class="form-group">
                                <small><b>Item: </b></small>
                                <select class="form-control select2 selectItem item_item_id_<%=extraVar.results.my_model.InvoiceItems.length%>" indexValue="<%=extraVar.results.my_model.InvoiceItems.length%>">
                                  <option value="">Select Items</option>
                                  <% extraVar.results.items.forEach(function(data){ %>
                                    <option value="<%= data.id %>"><%= data.item_name %></option>
                                  <% }); %>                  
                                </select>
                                <small class="item_unit_ selectUnit"><b>Unit: </b><span></span></small>
                                <div class="item_item_id_-error-message error-message"></div>
                              </div>
                          </div>
                          <div class="col-sm-2">
                              <div class="form-group">
                                <small><b>Sub Item: </b></small>
                                <select class="form-control select2 item_sub_item_id_<%=extraVar.results.my_model.InvoiceItems.length%> selectSubItem selectSubItem_<%=extraVar.results.my_model.InvoiceItems.length%>" indexValue="<%=extraVar.results.my_model.InvoiceItems.length%>">                                              
                                </select>
                                <div class="item_sub_item_id_-error-message error-message"></div>
                              </div>
                          </div>
                          <div class="col-sm-2">
                              <div class="form-group">
                                  <small><b>Description: </b></small>
                                  <input type="text" class="form-control itemDescription item_description_<%=extraVar.results.my_model.InvoiceItems.length%>" placeholder="">
                                  <div class="item_description_-error-message error-message"></div>
                              </div>
                          </div>                          
                          <div class="col-sm-2">
                              <div class="form-group">
                                  <small><b>No.: </b></small>
                                  <input type="text" class="form-control itemNoOfPkt item_no_of_pkg_<%=extraVar.results.my_model.InvoiceItems.length%>" placeholder="">
                                  <div class="item_no_of_pkg_-error-message error-message"></div>
                              </div>
                          </div>
                          <!-- <div class="col-sm-1">
                            <div class="form-group">
                              <select class="form-control item_unit_ select2 selectUnit">
                                <% extraVar.results.units.forEach(function(data){ %>
                                  <option value="<%= data.id %>"><%= data.name %></option>
                                <% }); %>                  
                              </select>
                              <div class="item_unit_-error-message error-message"></div>
                            </div>
                          </div> -->
                          <div class="col-sm-2">
                              <div class="form-group">
                                  <small><b>Quantity: </b></small>
                                  <input type="text" class="form-control itemQuantity item_quantity_<%=extraVar.results.my_model.InvoiceItems.length%>" placeholder="">
                                  <small><b>Stocks: </b><span  class="item_quantity_display_<%=extraVar.results.my_model.InvoiceItems.length%>"></span></small>
                                  <div class="item_quantity_-error-message error-message"></div>
                              </div>
                          </div>
                          <div class="col-sm-2">
                              <div class="form-group">
                                  <small><b>Rate: </b></small>
                                  <input type="text" class="form-control itemRate item_rate_<%=extraVar.results.my_model.InvoiceItems.length%>" placeholder="">
                                  <div class="item_rate_-error-message error-message"></div>
                              </div>
                          </div>
                          <div class="col-sm-2">
                            <div class="form-group">
                                <small><b>GST (%): </b></small>
                                <input type="text" class="form-control itemGst item_gst_<%=extraVar.results.my_model.InvoiceItems.length%>" placeholder="">
                                <div class="item_gst_-error-message error-message"></div>
                            </div>
                          </div>
                          <!-- <div class="col-sm-1">
                            <div class="form-group">
                                <small><b>Item: </b></small>
                                <input type="text" disabled class="form-control item_gst_amount_" placeholder="">
                            </div>
                          </div>
                          <div class="col-sm-1">
                              <div class="form-group">
                                  <small><b>Item: </b></small>
                                  <input readonly type="text" class="form-control itemAmount item_amount_" placeholder="">
                                  <div class="item_amount_-error-message error-message"></div>
                              </div>
                          </div> -->
                          <div class="col-sm-2">
                              <div class="form-group">
                                <div class="itemBtnDiv">
                                  <button onclick="addMoreItems()" type="button" class="btn btn-info"><i class="fas fa-plus"></i></button>                                
                                </div>
                              </div>
                          </div>                
                        </div>                  
                      </div>
                    </div>                               
                  </div>                    
                </div>
              </div>
                            
              <div class="row">
                  <div class="col-sm-6">
                  </div>
                  <div class="col-sm-6">
                    <div class="card card-primary">
                      <div class="card-header">
                        <h3 class="card-title"></h3>
                      </div>
                      <div class="card-body">
                        <div class="row">
                          <div class="col-sm-6">
                            <div class="form-group">
                              <label for="">Sub Total</label>
                              <input readonly value="<%= extraVar.results.my_model.sub_total%>" name="sub_total" type="number" class="form-control SubTotal"  placeholder="">
                              <div class="sub_total-error-message error-message"></div>
                            </div>
                          </div>
                        </div>

                        <div class="row">
                          <div class="col-sm-2">
                            <div class="form-group">
                              <label for="">Discount</label>
                              <input name="discount" value="<%= extraVar.results.my_model.discount%>" type="number" class="form-control discountField"  placeholder="">
                              <div class="discount-error-message error-message"></div>
                            </div>
                          </div>
                          <div class="col-sm-3">
                            <div class="form-group">
                              <label for="">Amount</label>
                              <input readonly name="amount" value="<%= extraVar.results.my_model.amount%>" type="number" class="form-control withDiscount"  placeholder="">
                              <div class="amount-error-message error-message"></div>
                            </div>
                          </div>
                        </div>

                        <div class="row">
                          <div class="col-sm-3">
                            <div class="form-group">
                              <label for="">transportation</label>
                              <input name="transportation" value="<%= extraVar.results.my_model.transportation%>" type="number" class="form-control transportationField"  placeholder="">
                              <div class="transportation-error-message error-message"></div>
                            </div>
                          </div>
                        </div>

                        <div class="sameStates" style="display: none;"> 
                          <div class="row">
                            <!-- <div class="col-sm-2">
                              <div class="form-group">
                                <label for="">cgst</label>
                                <input name="cgst" type="number" class="form-control"  placeholder="">
                                <div class="cgst-error-message error-message"></div>
                              </div>
                            </div> -->
                            <div class="col-sm-3">
                              <div class="form-group">
                                <label for="">CGST Amount</label>
                                <input name="cgst_amount" value="<%= extraVar.results.my_model.cgst_amount%>" type="number" class="cgstAmount form-control"  placeholder="">
                                <div class="cgst_amount-error-message error-message"></div>
                              </div>
                            </div>
                          </div>

                          <div class="row">
                            <!-- <div class="col-sm-2">
                              <div class="form-group">
                                <label for="">SGST</label>
                                <input name="sgst" type="number" class="form-control"  placeholder="">
                                <div class="sgst-error-message error-message"></div>
                              </div>
                            </div> -->
                            <div class="col-sm-3">
                              <div class="form-group">
                                <label for="">SGST Amount</label>
                                <input name="sgst_amount" value="<%= extraVar.results.my_model.sgst_amount%>" type="number" class="sgstAmount form-control"  placeholder="">
                                <div class="sgst_amount-error-message error-message"></div>
                              </div>
                            </div>
                          </div>
                        </div>

                        <div class="row diffStates" style="display: none;">
                          <input name="total_GST" type="hidden" class="totalGST">
                          <div class="col-sm-3">
                            <div class="form-group">
                              <label for="">IGST Amount</label>
                              <input name="igst_amount" value="<%= extraVar.results.my_model.igst_amount%>" type="number" class="igstAmount form-control"  placeholder="">
                              <div class="igst_amount-error-message error-message"></div>
                            </div>
                          </div>
                        </div>

                        <div class="row">
                          <div class="col-sm-2">
                            <div class="form-group">
                              <div class="custom-control custom-checkbox">
                                <% 
                                let checkedTcs = "";
                                if(extraVar.OtherTaxesIds.length > 0){ 
                                  checkedTcs = "checked";
                                } %>
                                <input <%= checkedTcs%> name="tcs_check" type="checkbox" class="custom-control-input tcs_check" id="tcsCheck" >
                                <label for="tcsCheck" class="custom-control-label" >Other Taxes</label>
                              </div>
                            </div>
                          </div>
                          <div class="col-sm-6">
                            <div class="form-group">
                              <label for="">Taxes</label>
                              <select <%= (checkedTcs == '' ? 'disabled' : '')%> multiple class="form-control select2 tcs_value" name="tcs">
                                <% extraVar.results.taxes.forEach(function(data){ %>
                                  <%
                                  let multiSelect = "";
                                  if(extraVar.OtherTaxesIds.includes(data.id)){
                                    multiSelect = "selected";
                                  } %>
                                  <option <%=multiSelect%> percentage="<%= data.percentage %>" value="<%= data.id %>"><%= data.name %></option>
                                <% }); %>                  
                              </select>
                              <label class="otherTaxInfo"></label>
                              <div class="tcs-error-message error-message"></div>
                            </div>
                          </div>
                        </div>

                        <div class="row">
                          <div class="col-sm-3">
                            <div class="form-group">
                              <label for="">Net Amount</label>
                              <input readonly name="net_amount" value="<%= extraVar.results.my_model.net_amount%>" type="number" class="form-control netAmount"  placeholder="">
                              <div class="net_amount-error-message error-message"></div>
                            </div>
                          </div>
                        </div>

                      </div>
                    </div>
                  </div>                  
              </div>
              
            </div>
            <!-- /.card-body -->

            <div class="card-footer">
              <button type="submit" class="btn btn-primary submitBtn">Submit</button>
            </div>
          </form>
        </div>
        <!-- /.card -->
        <span style="display: none;" id="unitsObj"><%= JSON.stringify(extraVar.results.units); %></span>
        <span style="display: none;" id="itemsObj"><%= JSON.stringify(extraVar.results.items); %></span>

      </div>
      <!--/.col (left) -->
    </div>
    <!-- /.row -->
  </div><!-- /.container-fluid -->
</section>
<script src="/admin/plugins/summernote/summernote-bs4.min.js"></script>
<script type="text/javascript">

$('.date1').daterangepicker({
    singleDatePicker: true,
    locale: {
        format: 'DD-MM-YYYY'
      }
  })

  $(function () {
    calculateTotal();
  });

  let unitsObj = JSON.parse($("#unitsObj").html());
  let unitKeyValue = {};
  unitsObj.map(function(data) {
    unitKeyValue[data.id] = data.name;
  });

  function addMoreItems(){
    emptyItemErrors();
    let itemIndexValue = parseInt($('.itemIndexValue').val()) + 1;

    let itemType = $('.item_type_'+itemIndexValue ).val();
    let selectedPurchaseType = {};
    selectedPurchaseType[itemType] = "selected";

    let selectItem = $('.item_item_id_'+itemIndexValue ).val();
    let itemDescription = $('.itemDescription').val();
    let itemNoOfPkt = $('.itemNoOfPkt').val();
    let itemUnit = $('.itemUnit').val();
    let itemQuantity = $('.itemQuantity').val();
    let itemRate = $('.itemRate').val();
    let itemGst = $('.itemGst').val();
    let itemAmount = $('.itemAmount').val();
    // let selectUnit = $('.selectUnit').val();
    let selectUnit = $('.item_unit_ span').html();
    let valid = validateItems();
    
    if(valid){
      
      $('.itemIndexValue').val(itemIndexValue); 
      
      let itemsObj = JSON.parse($("#itemsObj").html());
      let itemOptions = "";
      let selectedValue1 = "";
      itemsObj.map(function(data) {
        let selected = "";
        if(data.id == selectItem){
          selected = "selected";
          selectedValue1 = data.id;
        }
        itemOptions += "<option " + selected + " value='"+ data.id +"'>"+data.item_name+"</option>";
      });

      // let unitsObj = JSON.parse($("#unitsObj").html());
      // let unitOptions = "";
      // let selectedValue3 = "";
      // unitsObj.map(function(data) {
      //   let selected = "";
      //   if(data.id == selectUnit){
      //     selected = "selected";
      //     selectedValue3 = data.id;          
      //   }
      //   unitOptions += "<option " + selected + " value='"+ data.id +"'>"+data.name+"</option>";
      // });
      // unitOptions += "<input class='item_unit_hidden_"+itemIndexValue+"' type='hidden' value='"+selectedValue3+"' name='item["+itemIndexValue+"][unit]' >";


      let subItemOptions = "";
      let selectedValue2 = "";
      $(".selectSubItem  option").each(function(){
        let selectedSubItem = "";
        if(this.value == $(".selectSubItem").val()){
          selectedSubItem = "selected";
          selectedValue2 = this.value;
        }
        subItemOptions += "<option " + selectedSubItem + " value='"+ this.value +"'>"+this.text+"</option>";
      });
      let selectSubItemHtml = "<small><b>Sub Item: </b></small><select disabled indexValue='"+itemIndexValue+"' onchange='subItemName(this, "+itemIndexValue+")' class='form-control select2 selectSubItem selectSubItem_"+itemIndexValue+" item_sub_item_id_"+itemIndexValue+"'>"+subItemOptions+"</select>";
      selectSubItemHtml += "<input class='sub_item_name_hidden_"+itemIndexValue+"' type='hidden' value='"+selectedValue2+"' name='item["+itemIndexValue+"][sub_item_id]' >";
      

      let selectHtml = "<small><b>Item: </b></small><select disabled indexValue='"+itemIndexValue+"' onchange='itemName(this, "+itemIndexValue+")' class='form-control select2 selectItem item_item_id_"+itemIndexValue+"'>"+itemOptions+"</select>";
      selectHtml += "<input class='item_name_hidden_"+itemIndexValue+"' type='hidden' value='"+selectedValue1+"' name='item["+itemIndexValue+"][item_id]' >";
      
      let itemHtml = "<div class='row itemRow'>";

      itemHtml += "<div class='col-sm-2'><div class='form-group'>";
      itemHtml += "<small><b>Item Type: </b></small><select disabled indexValue='"+itemIndexValue+"' name='item["+itemIndexValue+"][type]' onchange='itemType(this, "+itemIndexValue+")' class='form-control select2 item_type_"+itemIndexValue+"'>";
      itemHtml += "<option "+ selectedPurchaseType["production"] +" value='production'>From Production</option>";
      itemHtml += "<option "+ selectedPurchaseType["purchase"] +" value='purchase'>From Purchase</option></select>";
      itemHtml += "<input class='item_type_hidden_"+itemIndexValue+"' type='hidden' value='"+itemType+"' name='item["+itemIndexValue+"][type]'>";
      itemHtml += "<div class='item_type_"+itemIndexValue+"-error-message error-message'></div></div></div>";
                                    
      itemHtml += "<div class='col-sm-2'><div class='form-group'>";
      itemHtml += selectHtml;
      itemHtml += "<small class='item_unit_"+itemIndexValue+" selectUnit'><b>Unit: </b><span>"+selectUnit+"</span></small>";
      itemHtml += "<div class='item_item_id_"+itemIndexValue+"-error-message error-message'></div></div></div>";
      itemHtml += "<div class='col-sm-2'><div class='form-group'>"+selectSubItemHtml+"<div class='item_sub_item_id_"+itemIndexValue+"-error-message error-message'></div></div></div>";
      
      itemHtml += "<div class='col-sm-2'><div class='form-group'><small><b>Description: </b></small>";
      itemHtml += "<input readonly name='item["+itemIndexValue+"][description]' type='text' value='"+itemDescription+"' class='form-control desc item_description_"+itemIndexValue+"' placeholder=''>";
      itemHtml += "<div class='item_description_"+itemIndexValue+"-error-message error-message'></div></div></div>";
      
      itemHtml += "<div class='col-sm-2'><div class='form-group'><small><b>No.: </b></small>";
      itemHtml += "<input readonly name='item["+itemIndexValue+"][no_of_pkg]' type='number' value='"+itemNoOfPkt+"' class='form-control pkt item_no_of_pkg_"+itemIndexValue+"' placeholder=''>";
      itemHtml += "<div class='item_no_of_pkg_"+itemIndexValue+"-error-message error-message'></div></div></div>";
      
      // itemHtml += "<div class='col-sm-1'><div class='form-group'>";
      // itemHtml += "<select disabled onchange='changeUnit(this, "+itemIndexValue+")' class='form-control select2 item_unit_"+itemIndexValue+"'>"+unitOptions+"</select>";
      // itemHtml += "<div class='item_unit_1-error-message error-message'></div></div></div>";

      // itemHtml += "<div class='col-sm-1'><div class='form-group'>";
      // itemHtml += "<input readonly name='item["+itemIndexValue+"][unit]' type='number' value='"+itemUnit+"' class='form-control unit item_unit_"+itemIndexValue+"' placeholder=''>";
      // itemHtml += "<div class='item_unit_"+itemIndexValue+"-error-message error-message'></div></div></div>";
      
      itemHtml += "<div class='col-sm-2'><div class='form-group'><small><b>Quantity: </b></small>";
      itemHtml += "<input readonly name='item["+itemIndexValue+"][quantity]' type='number' value='"+itemQuantity+"' class='form-control qty item_quantity_"+itemIndexValue+"' placeholder=''>";
      itemHtml += "<small><b>Stocks: </b><span  class='item_quantity_display_"+itemIndexValue+"'></span></small>";
      itemHtml += "<div class='item_quantity_"+itemIndexValue+"-error-message error-message'></div></div></div>";
      
      itemHtml += "<div class='col-sm-2'><div class='form-group'><small><b>Rate: </b></small>";
      itemHtml += "<input readonly name='item["+itemIndexValue+"][rate]' type='number' value='"+itemRate+"' class='form-control rate item_rate_"+itemIndexValue+"' placeholder=''>";
      itemHtml += "<div class='item_rate_"+itemIndexValue+"-error-message error-message'></div></div></div>";
            
      itemHtml += "<div class='col-sm-2'><div class='form-group'><small><b>GST (%): </b></small>";
      itemHtml += "<input readonly name='item["+itemIndexValue+"][gst]' type='number' value='"+itemGst+"' class='form-control gst item_gst_"+itemIndexValue+"' placeholder=''>";
      itemHtml += "<div class='item_gst_"+itemIndexValue+"-error-message error-message'></div></div></div>";
      
      itemHtml += "<div class='col-sm-2'><div class='form-group'><small><b>Item GST: </b></small>";
      itemHtml += "<input readonly name='item["+itemIndexValue+"][gst_amount]' type='number' class='form-control gstAmount item_gst_amount_"+itemIndexValue+"' placeholder=''>";
      itemHtml += "</div></div>";

      itemHtml += "<div class='col-sm-2'><div class='form-group'><small><b>Item Amount: </b></small>";
      itemHtml += "<input readonly name='item["+itemIndexValue+"][amount]' type='number' value='"+itemAmount+"' class='form-control amount itemValue item_amount_"+itemIndexValue+"' placeholder=''>";
      itemHtml += "<div class='item_amount_"+itemIndexValue+"-error-message error-message'></div></div></div>";

      itemHtml += "<div class='col-sm-2 ' style='display: flex;align-items: center;'>";
      itemHtml += "<button onclick='removeItemsDom(this)' type='button' class='btn btn-danger float-right'><i class='fas fa-times'></i></button>&nbsp;";
      itemHtml += "<button onclick='editItems(this)' type='button' itemIndexValue='"+itemIndexValue+"' class='btn btn-danger float-right editItemsBtn_"+itemIndexValue+"'><i class='fas fa-edit'></i></button>&nbsp;";
      itemHtml += "<button style='display:none;'' itemIndexValue='' onclick='updateItems(this)' type='button' class='btn btn-info updateItemsBtn_"+itemIndexValue+"'><i class='fas fa-pencil'></i> Update Item</button></div></div>";
      $('.itemDiv').prepend(itemHtml);
      $(".select2").each(function() {
        $(this).select2();
      });
      emptyItemFields();
      calculateTotal();
      $(".items-error-message").html('');
    }
  }

  $(document).on("click", ".tcs_check", function(){
    if($(this).is(":checked")){
      $(".tcs_value").attr("disabled", false);
    } else {      
      $(".tcs_value").val("").trigger("change");
      $(".tcs_value").attr("disabled", true);
    }
    calculateTotal();
  });

  $(document).on("change", ".tcs_value", function(){
    calculateTotal();
  });

  // function changeUnit(thisObj, index){
  //   $(".item_unit_hidden_"+index).val($(thisObj).val());
  // }

  function itemType(thisObj, index){
    let indexvalue = $(thisObj).attr("indexvalue");
    console.log("@@", indexvalue)
    $('.item_type_hidden_'+indexvalue).val($(thisObj).val())
    // if(indexvalue == 0) {
    //   indexvalue = '';
    // }
    $('.item_item_id_'+indexvalue).val("").trigger('change');
    $('.item_sub_item_id_'+indexvalue).val("").trigger('change');
    $('.item_description_'+indexvalue).val("");
    $('.item_no_of_pkg_'+indexvalue).val("");
    // $('.item_unit_'+indexvalue).val("").trigger('change');
    $('.item_quantity_'+indexvalue).val("");
    $('.item_quantity_display_'+indexvalue).text("");
    $('.item_rate_'+indexvalue).val("");
    $('.item_gst_'+indexvalue).val("");
    $('.item_gst_amount_'+indexvalue).val("");
    $('.item_amount_'+indexvalue).val("");
  }

  function emptyItemErrors(index = ""){
    $(".item_item_id_"+index+"-error-message, .item_description_"+index+"-error-message, .item_no_of_pkg_"+index+"-error-message, .item_quantity_"+index+"-error-message, .item_rate_"+index+"-error-message, .item_gst_"+index+"-error-message").html("");
  }

  function validateItems(itemIndexValue = ""){
    let valid = true;
    if($('.item_item_id_'+itemIndexValue).val() === ""){
      $('.item_item_id_'+itemIndexValue+'-error-message').html("This field is required!");
      valid = false;
    }
    // if($('.item_sub_item_id_'+itemIndexValue).val() === ""){
    //   $('.item_sub_item_id_'+itemIndexValue+'-error-message').html("This field is required!");
    //   valid = false;
    // }
    if($('.item_description_'+itemIndexValue).val() === ""){
      $('.item_description_'+itemIndexValue+'-error-message').html("This field is required!");
      valid = false;
    }
    if($('.item_no_of_pkg_'+itemIndexValue).val() === ""){
      $('.item_no_of_pkg_'+itemIndexValue+'-error-message').html("This field is required!");
      valid = false;
    }
    // if($('.item_unit_'+itemIndexValue).val() === ""){
    //   $('.item_unit_'+itemIndexValue+'-error-message').html("This field is required!");
    //   valid = false;
    // }
    if($('.item_quantity_'+itemIndexValue).val() === ""){
      $('.item_quantity_'+itemIndexValue+'-error-message').html("This field is required!");
      valid = false;
    }
    if($('.item_rate_'+itemIndexValue).val() === ""){
      $('.item_rate_'+itemIndexValue+'-error-message').html("This field is required!");
      valid = false;
    }
    // if($('.item_amount_'+itemIndexValue).val() === ""){
    //   $('.item_amount_'+itemIndexValue+'-error-message').html("This field is required!");
    //   valid = false;
    // }
    return valid;
  }

  function emptyItemFields(){
    $('.item_item_id_').val("").trigger('change');
    $('.item_sub_item_id_').val("").trigger('change');
    $('.itemDescription').val("");
    $('.itemNoOfPkt').val("");
    $('.itemUnit').val("");
    $('.itemQuantity').val("");
    $('.itemRate').val("");
    $('.itemGst').val("");
    $('.itemAmount').val("");
  }

  function removeItemsDom(thisVar){
    $(thisVar).parents('.itemRow').remove();
    calculateTotal();
  }

  function removeItems(id){
    // $(thisVar).parents('.itemRow').remove();
    // calculateTotal();
    var r = confirm("Are you sure ?");
    if (r == true) {

    } else {
        return false;
    }

    var thisObj = $(this);
    var statusUpdated = $(this).attr('statusUpdated');
    console.log('statusUpdated');
    console.log(statusUpdated);
    $.ajax({
        url: "/admin/invoices/deleteInvoiceItem/"+id,
        data: {},
        //contentType: false,
        //processData: false,
        method: "POST",
        cache: false,
        success: function (response) {
            if (response.status) {
                window.location.href = response.url;
            } else {
                bootstrapNotify.showMessage(response.message);
            }
        }, error: function (resData) {
            $.each(resData.responseJSON.data, function (key, val) {
                bootstrapNotify.showMessageOnField(val.message, val.path);
            });
        }
    });
  }

  function editItems(thisVar){

    let itemIndexValue =  $(thisVar).attr("itemIndexValue");
    $('.item_type_'+itemIndexValue).attr("disabled", false);
    $('.item_item_id_'+itemIndexValue).attr("disabled", false);
    $('.item_sub_item_id_'+itemIndexValue).attr("disabled", false);
    $('.item_description_'+itemIndexValue).attr("readonly", false);
    $('.item_no_of_pkg_'+itemIndexValue).attr("readonly", false);
    // $('.item_unit_'+itemIndexValue).attr("disabled", false);
    $('.item_quantity_'+itemIndexValue).attr("readonly", false);
    $('.item_rate_'+itemIndexValue).attr("readonly", false);
    // $('.item_gst_'+itemIndexValue).attr("readonly", false);
    // $('.item_amount_'+itemIndexValue).attr("readonly", false);

    $('.editItemsBtn_'+itemIndexValue).hide();
    $('.updateItemsBtn_'+itemIndexValue).show();
    $('.updateItemsBtn_'+itemIndexValue).attr("itemIndexValue", itemIndexValue);
  }

  function updateItems(thisVar){
    
    let itemIndexValue =  $(thisVar).attr("itemIndexValue");
    emptyItemErrors(itemIndexValue);
    let valid = validateItems(itemIndexValue);
    if(valid){
      $('.item_type_'+itemIndexValue).attr("disabled", true);
      $('.item_item_id_'+itemIndexValue).attr("disabled", true);
      $('.item_sub_item_id_'+itemIndexValue).attr("disabled", true);
      $('.item_description_'+itemIndexValue).attr("readonly", true);
      $('.item_no_of_pkg_'+itemIndexValue).attr("readonly", true);
      // $('.item_unit_'+itemIndexValue).attr("disabled", true);
      $('.item_quantity_'+itemIndexValue).attr("readonly", true);
      $('.item_rate_'+itemIndexValue).attr("readonly", true);
      // $('.item_gst_'+itemIndexValue).attr("readonly", true);
      // $('.item_amount_'+itemIndexValue).attr("readonly", true);
      $('.editItemsBtn_'+itemIndexValue).show();
      $('.updateItemsBtn_'+itemIndexValue).hide();
      calculateTotal();
      emptyItemFields();
    }    
  }
    
  function itemName(thisObj, index){
    $(".item_name_hidden_"+index).val($(thisObj).val());
  }

  function subItemName(thisObj, index){
    $(".sub_item_name_hidden_"+index).val($(thisObj).val());
  }

  $(document).on("change", ".consigneeAccount", function(){
    calculateTotal();
    $(".buyer_add").val($(".consigneeAccount option:selected").attr("address"));
  });

  $(document).on("keyup", ".discountField", function(){
    calculateTotal();
  });

  $(document).on("keyup", ".transportationField", function(){
    calculateTotal();
  });

  function calculateTotal(){
    let totalPrice = 0;
    let totalGST = 0;
    let gstPercentageOfItem = 0;
    $(".itemRow").each(function(index, val){
      let rate = parseFloat($(".rate", val).val());
      let qty = parseFloat($(".qty", val).val());
      let gst = parseFloat($(".gst", val).val());
      //gstPercentageOfItem - get from any one item - this will be same for all items
      gstPercentageOfItem = parseFloat($(".gst", val).val());
      totalPrice = parseFloat(totalPrice) + parseFloat(rate * qty);
      let gstPerItem = ((rate * qty) * gst) / 100;
      $(".gstAmount", val).val(setFloatValAfterDecimal(gstPerItem, 2));
      totalGST = totalGST + gstPerItem;
      $(".itemValue", val).val(setFloatValAfterDecimal(parseFloat(rate * qty) + parseFloat(gstPerItem), 2))
      
    });
    

    $(".SubTotal").val(setFloatValAfterDecimal(totalPrice, 2));
    let discountValue = parseFloat($(".discountField").val());
    if(isNaN(discountValue)){
      discountValue = 0;
    }
    let withDiscount = totalPrice - discountValue;
    if(isNaN(withDiscount)){
      withDiscount = 0;
    }
    $(".withDiscount").val(setFloatValAfterDecimal(withDiscount, 2));

    let transportation = parseFloat($(".transportationField").val());
    if(isNaN(transportation)){
      transportation = 0;
    }
    let calculatedGst = setFloatValAfterDecimal(parseFloat(((withDiscount + transportation) * gstPercentageOfItem) / 100));
    $(".totalGST").val(setFloatValAfterDecimal(calculatedGst, 2));
    let buyerGstAmt = $(".consigneeAccount option:selected").attr('gstin');
    if(typeof buyerGstAmt !== "undefined"){
      let buyerGst = buyerGstAmt.substring(0, 2);
      let sessionObj = JSON.parse($("#sessionObj").html());
      let userGst = sessionObj.session.user.Company.gstin.substring(0, 2);

      if(buyerGst == userGst){

        $(".sameStates").show();
        $(".diffStates").hide();
        $(".cgstAmount").val(setFloatValAfterDecimal(calculatedGst / 2, 2));
        $(".sgstAmount").val(setFloatValAfterDecimal(calculatedGst / 2, 2));
        $(".igstAmount").val("");
      } else {
        $(".igstAmount").val(setFloatValAfterDecimal(calculatedGst, 2));
        $(".cgstAmount").val("");
        $(".sgstAmount").val("");
        $(".diffStates").show();
        $(".sameStates").hide();
      }
    }

    let withTcs = 0;
    let otherTaxInfo = "";
    if($(".tcs_check").is(":checked")){
      let otherTax = 0;
      $(".tcs_value option:selected").each(function(val, index){

        otherTax = parseFloat(otherTax) + parseFloat($(this).attr("percentage"));
        otherTaxInfo += $(this).text() + "-"+ parseFloat($(this).attr("percentage"))+"%: " + setFloatValAfterDecimal(parseFloat(((calculatedGst + withDiscount + transportation) * parseFloat($(this).attr("percentage"))) / 100), 2) + ", ";
      })
      withTcs = parseFloat(((calculatedGst + withDiscount + transportation) * otherTax) / 100);
      $(".otherTaxInfo").html(otherTaxInfo);
      // total_value = parseFloat(total_value + withTcs);
    } else {
      $(".otherTaxInfo").html("");
    }

    $(".netAmount").val(setFloatValAfterDecimal(transportation + withDiscount + withTcs + calculatedGst, 2));
    // $(".totalGST").val(totalGST);
  }

  $(document).on("change", ".selectItem", function () {

    let thisObj = $(this);
    let id = thisObj.val();
    
    // let unitsObj = JSON.parse($("#unitsObj").html());
    // let itemsObj = JSON.parse($("#itemsObj").html());
    // unitsObj.map(function(data) {
    //   console.log("#", data, id)
    //   if(data.id == id){
    //     console.log("#", JSON.parse($("#itemsObj").html()))
    //     $(".selectUnit").val(2).trigger("change")
    //   }
    // });

    let indexValue = thisObj.attr('indexValue');
    // let indexValue = (thisObj.attr('indexValue') == 0 ? '' : thisObj.attr('indexValue'));
    let itemsObj = JSON.parse($("#itemsObj").html());
    itemsObj.map(function(data) {
      
      if(data.id === parseInt($(thisObj).val())){
        $(".item_gst_"+indexValue).val(data.gstin);
        $(".item_unit_"+indexValue+" span").text(unitKeyValue[data.unit])
        // $(".item_unit_"+indexValue).val(data.unit).trigger("change")
      }
    });
    let type = $(".item_type_"+indexValue).val();
    $(".item_quantity_"+indexValue).val('');
    $(".item_quantity_display_"+indexValue).text('');
    
    if(id){
      $.ajax({
        url: "/admin/stocks/getByItemId",
        data: {id, type},
        //contentType: false,
        //processData: false,
        method: "POST",
        cache: false,
        success: function (response) {
          if(response){
            // $(".item_quantity_"+indexValue).val();
            $(".item_quantity_display_"+indexValue).text(response.quantity);
          }

        }, error: function (resData) {
            console.log(resData);
        }
      });
    } else {
      $(".item_quantity_"+indexValue).val("");
    }    
  });

  $(document).on("change", ".selectSubItem", function () {

    let thisObj = $(this);
    let id = thisObj.val();
    let indexValue = (thisObj.attr('indexValue') == 0 ? '' : thisObj.attr('indexValue'));
    $(".item_quantity_"+indexValue).val('');
    $(".item_quantity_display_"+indexValue).text('');

    if(id){
      
      let type = $(".item_type_"+indexValue).val();
      $.ajax({
          url: "/admin/stocks/getBySubItemId",
          data: {id,type},
          //contentType: false,
          //processData: false,
          method: "POST",
          cache: false,
          success: function (response) {
            if(response){
              $(".item_quantity_"+indexValue).val("");
              $(".item_quantity_display_"+indexValue).text(response.quantity);
            }
          }, error: function (resData) {
              console.log(resData);
          }
      });
    } else {
      // $(".selectItem").trigger("change");
    }
  });

  function matchCustomConsigneeAccount(params, data) {
    // If there are no search terms, return all of the data
    if ($.trim(params.term) === '') {
      return data;
    }

    // Do not display the item if there is no 'text' property
    if (typeof data.text === 'undefined') {
      return null;
    }

    // `params.term` should be the term that is used for searching
    // `data.text` is the text that is displayed for the data object
    let tmp = data.text + " " + data.title;
    if (tmp.toUpperCase().indexOf(params.term.toUpperCase()) > -1) {
      var modifiedData = $.extend({}, data, true);
      // modifiedData.text += ' (matched)';

      // You can return modified objects from here
      // This includes matching the `children` how you want in nested data sets
      return modifiedData;
    }

    // Return `null` if the term should not be displayed
    return null;
  }

  function matchCustomBuyerAccount(params, data) {
    
    // If there are no search terms, return all of the data
    if ($.trim(params.term) === '') {
      return data;
    }

    // Do not display the item if there is no 'text' property
    if (typeof data.text === 'undefined') {
      return null;
    }

    // `params.term` should be the term that is used for searching
    // `data.text` is the text that is displayed for the data object
    let tmp = data.text + " " + data.title;
    if (tmp.toUpperCase().indexOf(params.term.toUpperCase()) > -1) {
      var modifiedData = $.extend({}, data, true);
      // modifiedData.text += ' (matched)';

      // You can return modified objects from here
      // This includes matching the `children` how you want in nested data sets
      return modifiedData;
    }

    // Return `null` if the term should not be displayed
    return null;
  }


  $(".consigneeAccount").select2({
    matcher: matchCustomConsigneeAccount
  });

  $(".buyerAccount").select2({
    matcher: matchCustomBuyerAccount
  });

  $(document).ready(function() {
    // $.notify(data.message, { className:"success",position:"bottom right" });
    
    var formId = 'formId';
    $(document).on('click', '.submitBtn', function(){
      
      $('.error-message').html('');
      $('#'+formId).validate({
        rules: {
          title: {
            // required: true,
          }
        },
        messages: {
          title: {
            required: "This field is required!",
          },
        },
        errorElement: 'span',
        errorPlacement: function (error, element) {
          error.addClass('invalid-feedback');
          element.closest('.form-group').append(error);
        },
        highlight: function (element, errorClass, validClass) {
          $(element).addClass('is-invalid');
        },
        unhighlight: function (element, errorClass, validClass) {
          $(element).removeClass('is-invalid');
        },
        submitHandler: function(form) {
          
          var form = $('#'+formId);
          errorFieldObj = [];
          $.ajax({
            url: $('#'+formId).attr('action'),
            type: 'POST',
            dataType: "json",
            data: new FormData(form[0]),
            processData: false,
            contentType: false,
            cache: false,
            success: function (data, status)
            {
              if (data.status) {
                window.location.href = data.url;
              }
            },
            error: function (xhr, desc, err)
            {
              console.log('val')
              xhr.responseJSON.data.map(function(val){
                console.log(val)
                if(!errorFieldObj.includes(val.path)){
                  
                  $('.'+val.path+'-error-message').html(val.message)
                  errorFieldObj.push(val.path)
                }
              })

            }
          })
        }
      });
    });
  });

</script>
