<!DOCTYPE html
        PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
        <meta http-equiv=Content-Type content="text/html; charset=windows-1252">
        <meta name=ProgId content=Word.Document>
        <meta name=Generator content="Microsoft Word 14">
        <meta name=Originator content="Microsoft Word 14">
        <link rel=File-List href="Invoice%20Format_files/filelist.xml">
        <link rel=Preview href="Invoice%20Format_files/preview.wmf">
        <link rel=Edit-Time-Data href="Invoice%20Format_files/editdata.mso">

        <link rel=themeData href="Invoice%20Format_files/themedata.thmx">
        <link rel=colorSchemeMapping href="Invoice%20Format_files/colorschememapping.xml">

        <style>
                body {
                        font: 9px Georgia, serif;
                        margin: 8px 8px;
                }
                #pageHeader {
                   margin-top: 15px;
                }
                /* #pageFooter {
                   margin-bottom: 150px;
                } */

                /* Font Definitions */
                /* @font-face {
      font-family: Calibri;
      panose-1: 2 15 5 2 2 2 4 3 2 4;
      mso-font-charset: 0;
      mso-generic-font-family: swiss;
      mso-font-pitch: variable;
      mso-font-signature: -536870145 1073786111 1 0 415 0;
    }

    @font-face {
      font-family: Tahoma;
      panose-1: 2 11 6 4 3 5 4 4 2 4;
      mso-font-charset: 0;
      mso-generic-font-family: swiss;
      mso-font-format: other;
      mso-font-pitch: variable;
      mso-font-signature: 3 0 0 0 1 0;
    } */

                #page-wrap {
                        /* width: 520px; */
                        /*height: 800px;*/
                        margin: auto 15px;
                        display: block;
                }

                /* Style Definitions */
                p.MsoNormal,
                li.MsoNormal,
                div.MsoNormal {
                        mso-style-unhide: no;
                        mso-style-qformat: yes;
                        mso-style-parent: "";
                        margin-top: 0in;
                        margin-right: 0in;
                        margin-bottom: 10.0pt;
                        margin-left: 0in;
                        line-height: 115%;
                        mso-pagination: widow-orphan;
                        /* font-size: 11.0pt; */
                        /* font-family: "Calibri", "sans-serif";
      mso-ascii-font-family: Calibri;
      mso-ascii-theme-font: minor-latin;
      mso-fareast-font-family: Calibri;
      mso-fareast-theme-font: minor-latin;
      mso-hansi-font-family: Calibri;
      mso-hansi-theme-font: minor-latin;
      mso-bidi-font-family: "Times New Roman";
      mso-bidi-theme-font: minor-bidi; */
                }

                p.MsoAcetate,
                li.MsoAcetate,
                div.MsoAcetate {
                        mso-style-noshow: yes;
                        mso-style-priority: 99;
                        mso-style-link: "Balloon Text Char";
                        margin: 0in;
                        margin-bottom: .0001pt;
                        mso-pagination: widow-orphan;
                        /* font-size: 8.0pt; */
                        font-family: "Tahoma", "sans-serif";
                        /* mso-fareast-font-family: Calibri; */
                        mso-fareast-theme-font: minor-latin;
                        mso-bidi-font-family: Tahoma;
                }

                span.BalloonTextChar {
                        mso-style-name: "Balloon Text Char";
                        mso-style-noshow: yes;
                        mso-style-priority: 99;
                        mso-style-unhide: no;
                        mso-style-locked: yes;
                        mso-style-link: "Balloon Text";
                        /* mso-ansi-font-size: 8.0pt; */
                        /* mso-bidi-font-size: 8.0pt; */
                        font-family: "Tahoma", "sans-serif";
                        mso-ascii-font-family: Tahoma;
                        mso-hansi-font-family: Tahoma;
                        mso-bidi-font-family: Tahoma;
                }

                .MsoChpDefault {
                        mso-style-type: export-only;
                        mso-default-props: yes;
                        /* font-family: "Calibri", "sans-serif";
      mso-ascii-font-family: Calibri;
      mso-ascii-theme-font: minor-latin;
      mso-fareast-font-family: Calibri;
      mso-fareast-theme-font: minor-latin;
      mso-hansi-font-family: Calibri;
      mso-hansi-theme-font: minor-latin;
      mso-bidi-font-family: "Times New Roman";
      mso-bidi-theme-font: minor-bidi; */
                }

                .MsoPapDefault {
                        mso-style-type: export-only;
                        margin-bottom: 10.0pt;
                        line-height: 115%;
                }

                @page WordSection1 {
                        size: 8.5in 11.0in;
                        margin: 22.5pt 27.0pt .25in 40.5pt;
                        mso-header-margin: .5in;
                        mso-footer-margin: .5in;
                        mso-paper-source: 0;
                }

                div.WordSection1 {
                        page: WordSection1;
                }
                .table-first {
                        border: 1px #aba3a3 solid;
                }
                .table-first tr td:nth-child(1) {
                        border-right: 1px #aba3a3 solid;
                }
                .table-first tr td:nth-child(2) {
                        border-right: 1px #aba3a3 solid;
                }
                .table-second {
                        border: 1px #aba3a3 solid;
                }
                .table-second tr:nth-child(1) {
                        border: 1px #aba3a3 solid;
                }
                .table-second tr td {
                        border-right: 1px #aba3a3 solid;
                }
                .td-border-left {
                        border-left: 1px #aba3a3 solid;
                }
                .border-bottom {
                        border-bottom: 1px #aba3a3 solid;
                }
                .no-border-left {
                        border-left: none !important;
                }
                .no-border-right {
                        border-right: none !important;
                }
                .no-border-bottom {
                        border-bottom: none !important;
                }
                .border-right-lite {
                        border-right: 1px #e0d8d8 solid !important;    
                }
                .border-bottom-lite {
                        border-bottom: 1px #e0d8d8 solid !important;    
                }
                .border-left-lite {
                        border-left: 1px #e0d8d8 solid !important;    
                }
                .border-top {
                        border-top: 1px #e0d8d8 solid !important;   
                }
                .strongText {
                  font-weight: bold;
                }
        </style>

</head>

<body lang=EN-US>

         <div id="pageHeader">
            <!-- <p style="margin-top: 130px; text-align: center;">PACKING INVOICE</p> -->
         </div>
         
         <div id="pageFooter">
            <!-- <p class=MsoNormal style='margin-top:6.0pt;margin-right:0in;
               margin-left:0in;margin-bottom:.0001pt'>
               <b style='mso-bidi-font-weight:normal'>
                  Bank
                  Details : A/C No 01678020000605, HDFC Bank Ltd. IFSC Code : HDFC0000167 Branch
                  KOTA (Raj.)
                  <o:p></o:p>
               </b>
            </p> -->
           
         </div>
        

        <div id="page-wrap" class="WordSection1">
                <table class="MsoTableGrid table-first"  cellspacing=0 cellpadding=0 style='border-collapse:collapse;
                   mso-yfti-tbllook:
                   1184;mso-padding-alt:0in 5.4pt 0in 5.4pt;'>
                   <tr style='mso-yfti-irow:0;mso-yfti-firstrow:yes'>
                      <td width=195 valign=top style='width:135.9pt;
                         padding:
                         0in 5.4pt 0in 5.4pt'>
                         <p class="MsoNormal" style='margin-bottom:.0001pt;line-height:
                            normal'>Invoice No</p>
                      </td>
                      <td width=200 valign=top style='width:139.5pt;
                         ;
                         padding:0in 5.4pt 0in 5.4pt'>
                         <p class=MsoNormal style='margin-bottom:.0001pt;line-height:
                            normal'>
                            <%=extraVar.results.my_model.invoice_no%>
                         </p>
                      </td>
                      <td class="border-bottom" colspan=2 valign=top style='width:279.9pt;
                         padding:0in 5.4pt 0in 5.4pt'>
                         <p class=MsoNormal align=right style='margin-bottom:.0001pt;
                            text-align:right;line-height:normal'>Date : <%=extraVar.results.my_model.date%>
                         </p>
                      </td>
                   </tr>
                   <tr style='mso-yfti-irow:1'>
                     <td width=195 valign=top style='width:135.9pt;;
                        padding:0in 5.4pt 0in 5.4pt'>
                        <p class=MsoNormal style='margin-bottom:.0001pt;line-height:
                           normal'>Order No/ Date</p>
                     </td>
                     <td width=200 valign=top style='width:139.5pt;;
                        padding:0in 5.4pt 0in 5.4pt'>
                        <p class=MsoNormal style='margin-bottom:.0001pt;line-height:
                           normal'>
                           <o:p>&nbsp;</o:p>
                        </p>
                     </td>
                      <td class="border-bottom-lite" colspan=2 valign=top style='width:279.9pt;
                         padding:0in 5.4pt 0in 5.4pt'>
                         <p class=MsoNormal style='margin-bottom:.0001pt;line-height:
                            normal'>
                            <b style='mso-bidi-font-weight:normal'>
                               Buyer
                               <o:p></o:p>
                            </b>
                         </p>
                      </td>
                   </tr>
                   <tr style='mso-yfti-irow:2'>
                      <td width=195 valign=top style='width:135.9pt;;
                         padding:0in 5.4pt 0in 5.4pt'>
                         <p class=MsoNormal style='margin-bottom:.0001pt;line-height:
                            normal'>Displatch Through</p>
                      </td>
                      <td width=200 valign=top style='width:139.5pt;;
                         padding:0in 5.4pt 0in 5.4pt'>
                         <p class=MsoNormal style='margin-bottom:.0001pt;line-height:
                            normal'>
                            <o:p><%=extraVar.results.my_model.dispach_through%></o:p>
                         </p>
                      </td>
                      <td height="70px" class="border-bottom-lite" colspan=2 rowspan=5 valign=top style='width:279.9pt;;
                         padding:0in 5.4pt 0in 5.4pt'>
                         <p class=MsoNormal style='margin-bottom:.0001pt;line-height:
                            normal'>
                            <%=
                               extraVar.results.accountKeyValue[extraVar.results.my_model.buyer]['account_name']%>
                            <br />
                            <%=
                               extraVar.results.accountKeyValue[extraVar.results.my_model.buyer]['address']%>
                            <br />
                            <%=
                               extraVar.results.accountKeyValue[extraVar.results.my_model.buyer]['city']%>
                            , <%=
                               extraVar.results.accountKeyValue[extraVar.results.my_model.buyer]['pin']%>
                         </p>
                      </td>
                   </tr>
                   <!-- <tr style='mso-yfti-irow:3'>
                      <td width=195 valign=top style='width:135.9pt;;
                         padding:0in 5.4pt 0in 5.4pt'>
                         <p class=MsoNormal style='margin-bottom:.0001pt;line-height:
                            normal'>Displatch Through</p>
                      </td>
                      <td width=200 valign=top style='width:139.5pt;;
                         padding:0in 5.4pt 0in 5.4pt'>
                         <p class=MsoNormal style='margin-bottom:.0001pt;line-height:
                            normal'>
                         </p>
                      </td>
                   </tr> -->
                   <tr style='mso-yfti-irow:4'>
                      <td width=195 valign=top style='width:135.9pt;;
                         padding:0in 5.4pt 0in 5.4pt'>
                         <p class=MsoNormal style='margin-bottom:.0001pt;line-height:
                            normal'>Vehicle No</p>
                      </td>
                      <td width=200 valign=top style='width:139.5pt;;
                         padding:0in 5.4pt 0in 5.4pt'>
                         <p class=MsoNormal style='margin-bottom:.0001pt;line-height:
                            normal'>
                            <%=extraVar.results.my_model.vehicle_no%>
                         </p>
                      </td>
                   </tr>
                   <tr style='mso-yfti-irow:4'>
                     <td width=195 valign=top style='width:135.9pt;;
                        padding:0in 5.4pt 0in 5.4pt'>
                        <p class=MsoNormal style='margin-bottom:.0001pt;line-height:
                           normal'>Buyer Code</p>
                     </td>
                     <td width=200 valign=top style='width:139.5pt;;
                        padding:0in 5.4pt 0in 5.4pt'>
                        <p class=MsoNormal style='margin-bottom:.0001pt;line-height:
                           normal'>
                           AC00<%= extraVar.results.accountKeyValue[extraVar.results.my_model.buyer]['id']%>
                        </p>
                     </td>
                  </tr>
                   <tr style='mso-yfti-irow:5'>
                     <td width=195 valign=top style='width:135.9pt;;
                        padding:0in 5.4pt 0in 5.4pt'>
                        <p class=MsoNormal style='margin-bottom:.0001pt;line-height:
                           normal'>Driver Mobile No.</p>
                     </td>
                     <td width=200 valign=top style='width:139.5pt;;
                        padding:0in 5.4pt 0in 5.4pt'>
                        <p class=MsoNormal style='margin-bottom:.0001pt;line-height:
                           normal'>
                           <o:p>
                              <%=extraVar.results.my_model.driver_no%>
                           </o:p>
                        </p>
                     </td>
                  </tr>
                   <tr style='mso-yfti-irow:5'>
                      <td width=195 valign=top style='width:135.9pt;;
                         padding:0in 5.4pt 0in 5.4pt'>
                         <p class=MsoNormal style='margin-bottom:.0001pt;line-height:
                            normal'>RR/GR No &amp; Date</p>
                      </td>
                      <td width=200 valign=top style='width:139.5pt;;
                         padding:0in 5.4pt 0in 5.4pt'>
                         <p class=MsoNormal style='margin-bottom:.0001pt;line-height:
                            normal'>
                            <o:p>
                               <%=extraVar.results.my_model.rr_gr_no%>
                            </o:p>
                         </p>
                      </td>
                   </tr>
                   <tr style='mso-yfti-irow:6'>
                      <td width=195 valign=top style='width:135.9pt;;
                         padding:0in 5.4pt 0in 5.4pt'>
                         <p class=MsoNormal style='margin-bottom:.0001pt;line-height:
                            normal'>Freight to Pay/Paid</p>
                      </td>
                      <td width=200 valign=top style='width:139.5pt;;
                         padding:0in 5.4pt 0in 5.4pt'>
                         <p class=MsoNormal style='margin-bottom:.0001pt;line-height:
                            normal'>
                            <%=extraVar.results.my_model.freight%>
                         </p>
                      </td>
                      <td class="border-bottom-lite border-right-lite" width=201 valign=top style='width:139.95pt;
                         padding:0in 5.4pt 0in 5.4pt'>
                         <p class=MsoNormal style='margin-bottom:.0001pt;line-height:
                            normal'>GSTIN No : <%= extraVar.results.accountKeyValue[extraVar.results.my_model.consignee_no].gstin%>
                         </p>
                      </td>
                      <td class="border-bottom-lite" width=218 valign=top style='width:139.95pt;'>
                         <p class=MsoNormal style='margin-bottom:.0001pt;line-height:
                            normal'>PAN No: <%= extraVar.results.accountKeyValue[extraVar.results.my_model.consignee_no].pan_no%>
                         </p>
                      </td>
                   </tr>
                   <tr style='mso-yfti-irow:7'>
                      <td width=195 valign=top style='width:135.9pt;;
                         padding:0in 5.4pt 0in 5.4pt'>
                         <p class=MsoNormal style='margin-bottom:.0001pt;line-height:
                            normal'>Payment Term</p>
                      </td>
                      <td width=200 valign=top style='width:139.5pt;;
                         padding:0in 5.4pt 0in 5.4pt'>
                         <p class=MsoNormal style='margin-bottom:.0001pt;line-height:
                            normal'>
                            <%=extraVar.results.my_model.payment_terms%>
                         </p>
                      </td>
                      <td class="border-bottom-lite border-right-lite" width=201 valign=top style='width:139.95pt;
                         padding:0in 5.4pt 0in 5.4pt'>
                         <p class=MsoNormal style='margin-bottom:.0001pt;line-height:
                            normal'>Delivery At<span style='mso-spacerun:yes'></span>: <%=extraVar.results.my_model.delivery_at%>
                         </p>
                      </td>
                      <td class="border-bottom-lite" width=218 valign=top style='width:139.95pt;'>
                         <!-- <p class=MsoNormal style='margin-bottom:.0001pt;line-height:
                            normal'>State Code<span style='mso-spacerun:yes'> </span>: 08 (Rajasthan)</p> -->
                      </td>
                   </tr>
                   <tr style='mso-yfti-irow:8'>
                      <td class="border-bottom" width=195 valign=top style='width:135.9pt;padding: 0in 5.4pt 0in 5.4pt'>
                         <p class=MsoNormal style='margin-bottom:.0001pt;line-height:
                            normal'>Reverse Charge Mechanism</p>
                      </td>
                      <td class="border-bottom" width=200 valign=top style='width:139.5pt;;
                         padding:0in 5.4pt 0in 5.4pt'>
                         <p class=MsoNormal style='margin-bottom:.0001pt;line-height:
                            normal'>NO</p>
                      </td>
                      <td colspan=2 valign=top style='width:279.9pt;
                         ;
                         padding:0in 5.4pt 0in 5.4pt'>
                         <p class=MsoNormal style='margin-bottom:.0001pt;line-height:
                            normal'><b style='mso-bidi-font-weight:normal'>Delivery Address</b>
                         </p>
                      </td>
                   </tr>
                   <tr class="border-left-lite" style='mso-yfti-irow:9'>
                      <td class="no-border-right" width=195 valign=top style='width:135.9pt;padding:0in 5.4pt 0in 5.4pt'>
                         <p class=MsoNormal style='margin-bottom:.0001pt;line-height:
                            normal'>&nbsp;</p>
                      </td>
                      <td class="" width=200 valign=top style='width:139.5pt;;
                         padding:0in 5.4pt 0in 5.4pt'>
                         <p class=MsoNormal style='margin-bottom:.0001pt;line-height:
                            normal'><span style='mso-spacerun:yes'></span></p>
                      </td>
                      <td height="60px" colspan=2 rowspan=3 valign=top class="border-bottom" style='width:279.9pt;;
                         padding:0in 5.4pt 0in 5.4pt'>
                         <p class=MsoNormal style='margin-bottom:.0001pt;line-height:
                            normal'>
                            <%=
                               extraVar.results.accountKeyValue[extraVar.results.my_model.buyer].account_name%>
                            <br />
                            <%=
                               extraVar.results.accountKeyValue[extraVar.results.my_model.buyer].address%>
                            <br />
                            GSTIN: <%=
                               extraVar.results.accountKeyValue[extraVar.results.my_model.buyer].gstin%>
                            <br />
                            PAN No.: <%=
                               extraVar.results.accountKeyValue[extraVar.results.my_model.buyer].pan_no%>
                            <br />
                         </p>
                      </td>
                   </tr>
                   <tr class="border-left-lite" style='mso-yfti-irow:10'>
                      <td class="no-border-right" width=195 valign=top style='width:135.9pt;
                         padding:0in 5.4pt 0in 5.4pt'>
                         <p class=MsoNormal style='margin-bottom:.0001pt;line-height:
                            normal'>
                            <o:p>&nbsp;</o:p>
                         </p>
                      </td>
                      <td class="" width=200 valign=top style='width:139.5pt;;
                         padding:0in 5.4pt 0in 5.4pt'>
                         <p class=MsoNormal style='margin-bottom:.0001pt;line-height:
                            normal'>
                            <o:p>&nbsp;</o:p>
                         </p>
                      </td>
                   </tr>
                   <tr class="border-bottom-lite border-left-lite" style='mso-yfti-irow:11;mso-yfti-lastrow:yes;height:28.75pt'>
                      <td colspan=2 valign=top style='width:275.4pt;
                         padding:0in 5.4pt 0in 5.4pt;
                         height:28.75pt'>
                         <p class=MsoNormal style='margin-bottom:.0001pt;line-height:
                            normal'>
                            <o:p>&nbsp;</o:p>
                         </p>
                      </td>
                   </tr>
                </table>
                <p class=MsoNormal style='margin-bottom:.0001pt'>
                   <span style='line-height:115%'>
                      <o:p>&nbsp;</o:p>
                   </span>
                </p>
                <table class="MsoTableGrid table-second" border=0 cellspacing=0 cellpadding=0 style='border-collapse:collapse;
                   mso-yfti-tbllook:1184;mso-padding-alt:0in 2.4pt 0in 2.4pt'>
                   <tr style='mso-yfti-irow:0;mso-yfti-firstrow:yes;'>
                      <td  valign=top style='padding:0in 2.4pt 0in 2.4pt;'>
                         <p class="MsoNormal strongText" style='margin-bottom:.0001pt;line-height:
                            normal'>Item Description</p>
                      </td>
                      <td  valign=top style='padding:0in 2.4pt 0in 2.4pt;'>
                         <p class="MsoNormal strongText" style='margin-bottom:.0001pt;line-height:
                            normal'>HSN</p>
                      </td>
                      <td width="10%" valign=top style='padding:0in 2.4pt 0in 2.4pt;'>
                         <p class="MsoNormal strongText" style='margin-bottom:.0001pt;line-height:
                            normal'>Quantity</p>
                      </td>
                      <td width="10%" valign=top style='padding:0in 2.4pt 0in 2.4pt;'>
                         <p class="MsoNormal strongText" style='margin-bottom:.0001pt;line-height:
                            normal'>Rate</p>
                      </td>
                      <td width="10%" valign=top style='padding:0in 2.4pt 0in 2.4pt;height:19.3pt'>
                         <p class="MsoNormal strongText" style='margin-bottom:.0001pt;line-height:
                            normal'>Amount</p>
                      </td>
                   </tr>
                     <% if(extraVar.results.my_model.InvoiceItems.length> 0) { %> 
                     <% var itemGstPer = extraVar.results.my_model.InvoiceItems[0].gst; %>
                     <%
                        extraVar.results.my_model.InvoiceItems.forEach(function(rows, index){ %>
                           <tr height="12px" style='mso-yfti-irow:1'>
                              <td class="no-border-bottom"  valign=top style='padding:0in 5.4pt 0in 5.4pt'>
                                 <p class=MsoNormal style='margin-bottom:.0001pt;line-height:
                                    normal'>
                                    <%= rows.Item.item_name%>-<%= rows.description%>
                                 </p>
                              </td>
                              <td class="no-border-bottom"  valign=top style='padding:0in 5.4pt 0in 5.4pt'>
                                 <p class=MsoNormal style='margin-bottom:.0001pt;line-height:
                                    normal'>
                                    <%= rows.Item.hsn_code%>
                                 </p>
                              </td>
                              <td class="no-border-bottom"  valign=top style='padding:0in 5.4pt 0in 5.4pt'>
                                 <p class=MsoNormal style='margin-bottom:.0001pt;line-height:
                                    normal'>
                                    <%= rows.quantity%>
                                 </p>
                              </td>
                              <td class="no-border-bottom"  valign=top style='padding:0in 5.4pt 0in 5.4pt'>
                                 <p class=MsoNormal align=right style='margin-bottom:.0001pt;
                                    text-align:right;line-height:normal'>
                                    <%= rows.rate%>
                                 </p>
                              </td>
                              <td class="no-border-bottom"  valign=top style='padding:0in 5.4pt 0in 5.4pt'>
                                 <p class=MsoNormal align=right style='margin-bottom:.0001pt;
                                    text-align:right;line-height:normal'>
                                    <%= parseFloat(rows.quantity) * parseFloat(rows.rate)%>
                                 </p>
                              </td>
                           </tr>
                           <% }); if(extraVar.results.my_model.InvoiceItems.length < 10){ %>
                           <tr height="<%= (9 - extraVar.results.my_model.InvoiceItems.length) * 11 %>" + "px" style='mso-yfti-irow:1'>

                              <td class="border-bottom">
                                 &nbsp;
                              </td>
                              <td class="border-bottom">
                                 &nbsp;
                              </td>
                              <td class="border-bottom">
                                 &nbsp;
                              </td>
                              <td class="border-bottom">
                                 &nbsp;
                              </td>
                              <td class="border-bottom">
                                 &nbsp;
                              </td>
                           </tr>
                           <% } } else { %>
                           <tr style='mso-yfti-irow:2;height:24.25pt'>
                              <td  colspan="5" valign=top style='padding:
                                 0in 5.4pt 0in 5.4pt;height:24.25pt'>
                                 <p class=MsoNormal style='margin-bottom:.0001pt;line-height:
                                    normal'>
                                    No Record Found.
                                 </p>
                              </td>
                           </tr>
                     <% } %>
                     <tr style='mso-yfti-irow:6'>
                        <td class="border-right">
                        </td>
                      <td class="border-bottom" colspan="3" valign=top style='padding:0in 5.4pt 0in 5.4pt'>
                         <p class="MsoNormal strongText" align=right style='margin-bottom:.0001pt;
                            text-align:right;line-height:normal'>Total</p>
                      </td>
                      <td class="border-bottom"  valign=top style='padding:0in 5.4pt 0in 5.4pt'>
                         <p class=MsoNormal align=right style='margin-bottom:.0001pt;
                            text-align:right;line-height:normal'>
                            <%=extraVar.results.my_model.sub_total%>
                         </p>
                      </td>
                   </tr>
                   <% var transP=0 %>
                   <% if(extraVar.results.my_model.transportation && parseInt(extraVar.results.my_model.transportation) > 0){%>
                     <%  transP=extraVar.results.my_model.transportation; %>
                   <tr style='mso-yfti-irow:7'>
                      <td class="border-bottom border-right-lite border-bottom-lite border-top"   valign=top style='padding:0in 5.4pt 0in 5.4pt'>
                         <p class="MsoNormal strongText" align=right style='margin-bottom:.0001pt;
                            text-align:right;line-height:normal'>Add</p>
                      </td>
                      <td class="border-right-lite border-bottom-lite" colspan=2 valign=top style='padding:0in 5.4pt 0in 5.4pt'>
                         <p class="MsoNormal strongText" align=right style='margin-bottom:.0001pt;
                            text-align:right;line-height:normal'><span style='mso-spacerun:yes'>
                            </span>Transport
                        </p>
                      </td>
                      <td class="border-right-lite border-bottom-lite"  valign=top style='padding:0in 5.4pt 0in 5.4pt'>
                         <p class="MsoNormal" align="right"
                            style='margin-bottom:.0001pt; text-align:right;line-height:normal' >
                           <% if(extraVar.results.my_model.transportation !="" ){ %>
                              <%=  transP=extraVar.results.my_model.transportation; %>
                           <% } else { %>
                            <%= transP%>
                           <% } %>
                         </p>
                      </td>
                      <td  valign=top style=''>
                         <p class=MsoNormal align=right style='margin-bottom:.0001pt;
                            text-align:right;line-height:normal'><span style='mso-spacerun:yes'>
                            </span>
                         </p>
                      </td>
                   </tr>
                   <% } %>
                  <% /*  <tr style='mso-yfti-irow:8'>
                      <td class="border-right-lite border-bottom-lite" width=150 colspan=2 valign=top style='width:112.8pt;
                         padding:0in 5.4pt 0in 5.4pt'>
                         <p class=MsoNormal align=right style='margin-bottom:.0001pt;
                            text-align:right;line-height:normal'>Insurance</p>
                      </td>
                      <td class="border-right-lite border-bottom-lite"  valign=top style='width:54.05pt;
                         padding:0in 5.4pt 0in 5.4pt'>
                         <p class=MsoNormal align=right style='margin-bottom:.0001pt;
                            text-align:right;line-height:normal'><span style='mso-spacerun:yes'>0
                            </span>
                         </p>
                      </td>
                      <td class="border-bottom-lite"  valign=top style='width:54.05pt;
                         padding:0in 5.4pt 0in 5.4pt'>
                         <p class=MsoNormal align=right style='margin-bottom:.0001pt;
                            text-align:right;line-height:normal'><span style='mso-spacerun:yes'>&nbsp;
                            </span>
                         </p>
                      </td>
                   </tr>*/ %>
                   <% if(parseInt(extraVar.results.my_model.transportation) > 0){%>
                   <tr style='mso-yfti-irow:9'>
                      <td class="border-bottom border-right-lite" colspan=4 valign=top style='padding:0in 5.4pt 0in 5.4pt'>
                         <p class=MsoNormal style='margin-bottom:.0001pt;line-height:
                            normal'>
                            <o:p>&nbsp;</o:p>
                         </p>
                      </td>
                      <td class="border-bottom"  valign=top style='width:59.15pt;'>
                         <p class=MsoNormal align=right style='margin-bottom:.0001pt;padding:0in 5.4pt 0in 5.4pt;
                            text-align:right;line-height:normal'>
                            <%=parseFloat(extraVar.results.my_model.sub_total)
                               + parseFloat(transP) %>
                         </p>
                      </td>
                   </tr>
                   <% } %>
                   <% var tmpDiscount = 0;%>
                   <% if(extraVar.results.my_model.discount && parseInt(extraVar.results.my_model.discount) > 0){ 
                     tmpDiscount = extraVar.results.my_model.discount;    
                  %>
                   <tr style='mso-yfti-irow:10'>
                      <td class="border-bottom border-right-lite"  valign=top style='width:329.3pt;padding:0in 5.4pt 0in 5.4pt'>
                         <p class="MsoNormal strongText" align=right style='margin-bottom:.0001pt;
                            text-align:right;line-height:normal'>Less<span style='mso-spacerun:yes'>
                            </span>
                         </p>
                      </td>
                      <td class="border-bottom border-right-lite" width=150 colspan=2 valign=top style='width:112.8pt;
                      padding:0in 5.4pt 0in 5.4pt'>
                         <p class="MsoNormal strongText" align=right style='margin-bottom:.0001pt;
                            text-align:right;line-height:normal'>Discount</p>
                      </td>
                      <td class="border-bottom border-right-lite"  valign=top style='width:54.05pt;'>
                         
                         <p class=MsoNormal align=right
                            style='margin-bottom:.0001pt;
                            text-align:right;line-height:normal'>
                            <%=tmpDiscount%>
                         </p>
                         
                      </td>
                      <td class="border-bottom"  valign=top style='width:59.15pt;;
                         padding:0in 5.4pt 0in 5.4pt'>
                         <p class=MsoNormal align=right style='margin-bottom:.0001pt;
                            text-align:right;line-height:normal'><span style='mso-spacerun:yes'> </span></p>
                      </td>
                   </tr>
                   <% } %>
                   <tr style='mso-yfti-irow:11'>
                      <td class="border-bottom"  valign=top style='width:329.3pt;
                         padding:0in 5.4pt 0in 5.4pt'>
                         <p class=MsoNormal align=right style='margin-bottom:.0001pt;
                            text-align:right;line-height:normal'>
                            <o:p>&nbsp;</o:p>
                         </p>
                      </td>
                      <td class="border-bottom" width=222 colspan=3 valign=top style='width:166.85pt;
                         '>
                         <p class="MsoNormal strongText" align=right style='margin-bottom:.0001pt;
                            text-align:right;line-height:normal'>Invoice Taxable Value</p>
                      </td>
                      <td class="border-bottom"  valign=top style='width:59.15pt;;
                         padding:0in 5.4pt 0in 5.4pt'>
                         <p class=MsoNormal align=right style='margin-bottom:.0001pt;
                            text-align:right;line-height:normal'>
                            <%=(parseFloat(extraVar.results.my_model.sub_total) + parseFloat(transP)) - parseFloat(tmpDiscount)%>
                           </p>
                      </td>
                   </tr>
                   <tr style='mso-yfti-irow:12'>
                      <td class="border-bottom"  rowspan=4 valign=top style='width:329.3pt;
                         padding:0in 5.4pt 0in 5.4pt'>
                         <p class="MsoNormal" style='margin-bottom:.0001pt;line-height:
                            normal'><span class="strongText">GST Rupees (In Words) :</span><span style='mso-spacerun:yes'> </span>
                            <%= extraVar.helper.getNumber(extraVar.helper.setFloatValAfterDecimal(extraVar.results.my_model.total_GST, 2))%> only                            
                         </p>
                      </td>
                      <td class="border-right-lite border-bottom-lite" width=150 colspan=2 valign=top style='width:112.8pt; padding:0in 5.4pt 0in 5.4pt'>
                         <p class="MsoNormal strongText" align=right style='margin-bottom:.0001pt;
                            text-align:right;line-height:normal'>CGST @ <%=itemGstPer/2%>%</p>
                      </td>
                      <td class="border-right-lite border-bottom-lite"  valign=top style='width:54.05pt;
                         padding:0in 5.4pt 0in 5.4pt'>
                         <p class=MsoNormal align=right style='margin-bottom:.0001pt;
                            text-align:right;line-height:normal'>
                            <%=extraVar.helper.setFloatValAfterDecimal(extraVar.results.my_model.cgst_amount, 2)%>
                         </p>
                      </td>
                      <td class="border-bottom-lite"  valign=top style='width:59.15pt;
                         ;
                         '>
                         <p class=MsoNormal align=right style='margin-bottom:.0001pt;
                            text-align:right;line-height:normal'>
                            <o:p>&nbsp;</o:p>
                         </p>
                      </td>
                   </tr>
                   <tr style='mso-yfti-irow:13'>
                      <td class="border-right-lite border-bottom-lite" width=150 colspan=2 valign=top style='width:112.8pt;
                         padding:0in 5.4pt 0in 5.4pt'>
                         <p class="MsoNormal strongText" align=right style='margin-bottom:.0001pt;
                            text-align:right;line-height:normal'>SGST @ <%=itemGstPer/2%>%</p>
                      </td>
                      <td class="border-right-lite border-bottom-lite"  valign=top style='width:54.05pt;
                         padding:0in 5.4pt 0in 5.4pt'>
                         <p class=MsoNormal align=right style='margin-bottom:.0001pt;
                            text-align:right;line-height:normal'>
                            <%=extraVar.helper.setFloatValAfterDecimal(extraVar.results.my_model.sgst_amount, 2)%>
                         </p>
                      </td>
                      <td class="border-bottom-lite"  valign=top style='width:59.15pt;
                         ;
                         padding:0in 5.4pt 0in 5.4pt'>
                         <p class=MsoNormal align=right style='margin-bottom:.0001pt;
                            text-align:right;line-height:normal'>
                            <o:p>&nbsp;</o:p>
                         </p>
                      </td>
                   </tr>
                   <tr style='mso-yfti-irow:13'>
                      <td class="border-right-lite border-bottom-lite" width=150 colspan=2 valign=top style='width:112.8pt;
                         padding:0in 5.4pt 0in 5.4pt'>
                         <p class="MsoNormal strongText" align=right style='margin-bottom:.0001pt;
                            text-align:right;line-height:normal'>IGST @ <%=itemGstPer%>%</p>
                      </td>
                      <td class="border-right-lite border-bottom-lite"  valign=top style='width:54.05pt;
                         padding:0in 5.4pt 0in 5.4pt'>
                         <p class=MsoNormal align=right style='margin-bottom:.0001pt;
                            text-align:right;line-height:normal'>
                            <%=extraVar.helper.setFloatValAfterDecimal(extraVar.results.my_model.igst_amount, 2)%>
                         </p>
                      </td>
                      <td class="border-bottom-lite"  valign=top style='width:59.15pt;
                         ;
                         padding:0in 5.4pt 0in 5.4pt'>
                         <p class=MsoNormal align=right style='margin-bottom:.0001pt;
                            text-align:right;line-height:normal'>
                            <o:p>&nbsp;</o:p>
                         </p>
                      </td>
                   </tr>
                   <tr style='mso-yfti-irow:14'>
                      <td class="border-right-lite border-bottom-lite" width=150 colspan=2 valign=top style='width:112.8pt;
                         padding:0in 5.4pt 0in 5.4pt'>
                         <p class="MsoNormal strongText" align=right style='margin-bottom:.0001pt;
                            text-align:right;line-height:normal'>Total GST</p>
                      </td>
                      <td class="border-right-lite border-bottom-lite"  valign=top style='width:54.05pt;
                         background1;padding:0in 5.4pt 0in 5.4pt'>
                         <p class=MsoNormal align=right style='margin-bottom:.0001pt;
                            text-align:right;line-height:normal'>
                            <%=extraVar.helper.setFloatValAfterDecimal(extraVar.results.my_model.total_GST, 2)%>
                         </p>
                      </td>
                      <td class="border-bottom-lite"  valign=top style='width:59.15pt;
                         ;
                         padding:0in 5.4pt 0in 5.4pt'>
                         <p class=MsoNormal align=right style='margin-bottom:.0001pt;
                            text-align:right;line-height:normal'>
                            <o:p>&nbsp;</o:p>
                         </p>
                      </td>
                   </tr>
                     <% if(extraVar.results.my_model.OtherTaxes.length > 0) { %>
                     <% var othTaxPer=0; %>
                     <% extraVar.results.my_model.OtherTaxes.forEach(function(rows, index){ %>
                     <% othTaxPer=parseFloat(othTaxPer) + parseFloat(rows.percentage); %>
                   <tr
                      style='mso-yfti-irow:15'>
                      <td width=150
                        class="border-right-lite border-bottom-lite"
                         colspan=3
                         valign=top
                         style='width:112.8pt;
                         padding:0in 5.4pt 0in 5.4pt'>
                         <p class="MsoNormal strongText"
                            align=right
                            style='margin-bottom:.0001pt;
                            text-align:right;line-height:normal'>
                            <%= extraVar.results.taxKeyValue[rows.tax_id] %>
                            (<%= parseFloat(rows.percentage)%> %)
                         </p>
                      </td>
                      <td 
                        class="border-right-lite border-bottom-lite"
                         valign=top
                         style='width:54.05pt;padding:0in 5.4pt 0in 5.4pt'>
                           <p class="MsoNormal"
                              align=right
                              style='margin-bottom:.0001pt;
                              text-align:right;line-height:normal'><span style='mso-spacerun:yes'>
                              </span>
                              <% let othTax=extraVar.helper.setFloatValAfterDecimal(((parseFloat(extraVar.results.my_model.amount) + parseFloat(transP)) * parseFloat(rows.percentage) / 100), 2) %>
                              <% if(othTax){ %>
                                 <%= othTax%> 
                              <% } %>
                           </p>
                      </td>
                      <td 
                        class="border-right-lite border-bottom-lite"
                         valign=top
                         style='width:59.15pt;
                         ;
                         padding:0in 5.4pt 0in 5.4pt'>
                         <p class=MsoNormal
                            align=right
                            style='margin-bottom:.0001pt;
                            text-align:right;line-height:normal'>
                            <o:p>&nbsp;
                            </o:p>
                         </p>
                      </td>
                   </tr>
                   <% }) }
                      %>
                   <tr
                      style='mso-yfti-irow:16'>
                      <td width=222
                        class="border-right-lite border-bottom"
                         colspan=3
                         valign=top
                         style='width:166.85pt;
                         padding:0in 5.4pt 0in 5.4pt'>
                         <p class="MsoNormal strongText"
                            align=right
                            style='margin-bottom:.0001pt;
                            text-align:right;line-height:normal'>Total Value</p></td>
                        <td
                         class="border-bottom border-right-lite"
                         valign=top
                         style='width:59.15pt;
                         '>&nbsp;</td>
                      <td 
                         class="border-bottom"
                         valign=top
                         style='width:59.15pt;
                         '>
                         <p class=MsoNormal
                            align=right
                            style='margin-bottom:.0001pt;padding:0in 5.4pt 0in 5.4pt;
                            text-align:right;line-height:normal'><%=extraVar.helper.setFloatValAfterDecimal(extraVar.results.my_model.net_amount, 2)%></p>
                      </td>
                   </tr>
                   <tr
                      style='mso-yfti-irow:17;mso-yfti-lastrow:yes'>
                      <td width=740
                         class="border-bottom"
                         colspan=5
                         valign=top
                         style='width:555.3pt;
                         padding:0in 5.4pt 0in 5.4pt'>
                         <p class="MsoNormal"
                            style='margin-bottom:.0001pt;line-height:
                            normal'><span class="strongText">Total Rupees (In Words) :</span><span style='mso-spacerun:yes'>
                            </span>
                            <%=
                               extraVar.helper.getNumber(extraVar.helper.setFloatValAfterDecimal(extraVar.results.my_model.net_amount, 2))%>
                            only
                         </p>
                      </td>
                   </tr>
                </table>
<!--                 
                <p class=MsoNormal style='margin-left:4.5pt;text-indent:-4.5pt'>
                   <span style='mso-no-proof:yes'>
                      <v:shape id="Picture_x0020_6" o:spid="_x0000_i1025" type="#_x0000_t75" style='width:544.5pt;height:90.75pt;visibility:visible;
                         mso-wrap-style:square'>
                         <v:imagedata src="Invoice%20Format_files/image002.jpg" o:title="" />
                      </v:shape>
                   </span>
                </p>
                <p class=MsoNormal>
                   <o:p>&nbsp;</o:p>
                </p> -->
        </div>

</body>

</html>