<!-- Content Header (Page header) -->
<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0 text-dark">Add <%=extraVar['modelName']%></h1>
      </div><!-- /.col -->
      <div class="col-sm-6">
        <a href="/admin/<%= extraVar.viewDirectory %>" class="btn btn-primary float-right">Back</a>
      </div><!-- /.col -->
    </div><!-- /.row -->
  </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->
<section class="content">
    <div class="row">
      <!-- left column -->
      <div class="col-md-12">
        <!-- general form elements -->
        
        <div class="card card-primary">
          
          <!-- <div class="card-header">
            <h3 class="card-title">Add <%=extraVar['modelName']%></h3>
          </div> -->
          <!-- /.card-header -->
          <!-- form start -->
          <form method="post" id="formId" action="/admin/<%=extraVar.viewDirectory%>/add">
            <input type="hidden" class="itemIndexValue" value="0">
            <div class="card-body">
              <div class="row">
                <div class="col-sm-2">
                  <div class="form-group">
                    <label for="">Brands</label>
                    <select name="brand_id" class="form-control select2">
                      <option value="">Select Brand</option>
                      <% extraVar.results.brands.forEach(function(data){ %>
                        <option value="<%= data.id %>"><%= data.name %></option>
                      <% }); %>                  
                    </select>
                    <div class="brand_id-error-message error-message"></div>
                  </div>
                </div>              
                <div class="col-sm-2">
                  <div class="form-group">
                    <label for="">Production Date</label>
                    <input name="date_of_production" type="text" class="form-control date1" placeholder="">
                    <div class="date_of_production-error-message error-message"></div>
                  </div>
                </div>              
              </div>

              <div class="row">
                <div class="col-sm-2">
                    <div class="form-group">
                      <label for="">Items</label>
                      <select name='item_id' class="form-control select2 selectItem" indexValue="0">
                        <option value="">Select Items</option>
                        <% extraVar.results.items.forEach(function(data){ %>
                          <option category="<%= data.Category.slug %>" value="<%= data.id %>"><%= data.item_name %></option>
                        <% }); %>                  
                      </select>
                      <div class="item_id-error-message error-message"></div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                      <label for="">Sub items</label>
                      <select name="sub_item_id" class="form-control select2 selectSubItem selectSubItem_0" indexValue="0">                                              
                      </select>
                      <div class="sub_item_id-error-message error-message"></div>
                    </div>
                </div>              
                <div class="col-sm-2">
                  <label for="">Quantity</label>
                  <div class="form-group">
                    <input name="quantity" type="number" value="1" class="form-control qty">
                    <div class="quantity-error-message error-message"></div>
                  </div>
                </div>              
                <div class="col-sm-2">
                  <label for="">No.</label>
                  <div class="form-group">
                    <input name="no_of_pkg" type="number" value="1" class="form-control qty">
                    <div class="no_of_pkg-error-message error-message"></div>
                  </div>
                </div>              
              </div>
              
              <div class="itemCantainer" style="display: none;">
                <div class="row">
                  <div class="col-sm-12">
                    <div class="card card-primary">
                      <div class="card-header">
                        <h3 class="card-title">Item Detail</h3>
                      </div>
                      <div class="card-body">
                        <div class="row itemHead">
                          <div class="col-sm-2">
                            <label for="">Item</label>
                            <div class="items-error-message error-message"></div>
                          </div>
                          <div class="col-sm-1">
                            <label for="">Quantity</label>
                          </div>
                          <div class="col-sm-2">
                          </div>
                        </div>
                        <div class="itemDiv">                          
                        </div>
                      </div>                      
                    </div>                               
                  </div>                    
                </div>
              </div>
              <div class="row">
                <div class="col-sm-2">
                  <div class="form-group">
                    <label>Select Status</label>
                    <select name="status" class="form-control select2">
                      <option value="active">Active</option>
                      <option value="inactive">Inactive</option>
                      <option value="suspend">Suspend</option>
                    </select>
                    <div class="status-error-message error-message"></div>
                  </div>
                </div>
              </div>
            </div>
            <!-- /.card-body -->

            <div class="card-footer">
              <button type="submit" class="btn btn-primary submitBtn">Submit</button>
            </div>
          </form>
        </div>
        <!-- /.card -->
      </div>
      <!--/.col (left) -->
    </div>
    <!-- /.row -->
  </div><!-- /.container-fluid -->
</section>
<!-- Summernote -->
<script src="/admin/plugins/summernote/summernote-bs4.min.js"></script>

<script type="text/javascript">

  $('.date1').daterangepicker({
    singleDatePicker: true,
    locale: {
        format: 'DD-MM-YYYY'
      }
  });
  
  
  $(document).on("change", ".selectItem", function () {

    let thisObj = $(this);
    let id = thisObj.val();
    $('.itemDiv').html("");
    $('.itemCantainer').show();
    
    if($('option:selected', thisObj).attr('category') === "finished_goods"){
      $.ajax({
        url: "/admin/finished_items/getByItemId",
        data: {id},
        //contentType: false,
        //processData: false,
        method: "POST",
        cache: false,
        success: function (response) {
          if(response){
            
            let itemHtml = "";
            response.map(function(v, itemIndexValue){
              itemHtml += "<div class='row itemRow'>";
              itemHtml += "<div class='col-sm-2'><div class='form-group'>";
              itemHtml += "<input disabled type='text' value='"+v.Item.item_name+"' class='form-control' >";
              itemHtml += "<input name='items["+itemIndexValue+"][item_id]' type='hidden' value='"+v.Item.id+"' class='form-control' >";
              itemHtml += "</div></div>";

              itemHtml += "<div class='col-sm-2'><div class='form-group'>";
              itemHtml += "<input type='hidden' value='"+v.quantity+"' class='form-control quantity_hidden_"+itemIndexValue+"' >";
              itemHtml += "<input readonly type='text' name='items["+itemIndexValue+"][quantity]' value='"+v.quantity+"' class='form-control quantity_"+itemIndexValue+"' >";
              itemHtml += "<div class='quantity_"+itemIndexValue+"-error-message error-message'></div></div></div>";

              itemHtml += "</div>";
            });
            
            $('.itemDiv').append(itemHtml);
            calculateStock();
          }
        }, error: function (resData) {
            console.log(resData);
        }
      });
    }
  });

  $(document).on("keyup mouseup", ".qty", function () {
    calculateStock();
  });

  function calculateStock(){
    let qty = $(".qty").val();
    $(".itemRow").each(function(index, value){
      let tempQty = $(".quantity_hidden_"+index, value).val();
      $(".quantity_"+index, value).val((tempQty * qty).toFixed(2));
    });
  }

  // $(document).on("change", ".selectSubItem", function () {

  //   let thisObj = $(this);
  //   let id = thisObj.val();
  //   if(id){
  //     let indexValue = (thisObj.attr('indexValue') == 0 ? '' : thisObj.attr('indexValue'));
    
  //     $.ajax({
  //         url: "/admin/stocks/getBySubItemId",
  //         data: {id},
  //         //contentType: false,
  //         //processData: false,
  //         method: "POST",
  //         cache: false,
  //         success: function (response) {
  //           if(response){
  //             $(".item_quantity_"+indexValue).val(response.quantity);
  //           }
  //         }, error: function (resData) {
  //             console.log(resData);
  //         }
  //     });
  //   } else {
  //     // $(".selectItem").trigger("change");
  //   }
  // });

  $(document).ready(function() {
    // $.notify(data.message, { className:"success",position:"bottom right" });
    var formId = 'formId';
    $(document).on('click', '.submitBtn', function(){
      $('.error-message').html('');
      $('#'+formId).validate({
        rules: {
          title: {
            // required: true,
          }
        },
        messages: {
          title: {
            required: "This field is required!",
          },
        },
        errorElement: 'span',
        errorPlacement: function (error, element) {
          error.addClass('invalid-feedback');
          element.closest('.form-group').append(error);
        },
        highlight: function (element, errorClass, validClass) {
          $(element).addClass('is-invalid');
        },
        unhighlight: function (element, errorClass, validClass) {
          $(element).removeClass('is-invalid');
        },
        submitHandler: function(form) {

          var form = $('#'+formId);
          errorFieldObj = [];
          $.ajax({
            url: $('#'+formId).attr('action'),
            type: 'POST',
            dataType: "json",
            data: new FormData(form[0]),
            processData: false,
            contentType: false,
            cache: false,
            success: function (data, status)
            {
              if (data.status) {
                window.location.href = data.url;
              } else {
                $.notify("Somthing went wrong, Please try again!", { className:"error", position:"bottom right" });
              }
            },
            error: function (xhr, desc, err)
            {
              xhr.responseJSON.data.map(function(val){
                console.log(val)
                if(!errorFieldObj.includes(val.path)){
                  
                  $('.'+val.path+'-error-message').html(val.message)
                  errorFieldObj.push(val.path)
                }
              })

            }
          })
        }
      });
    });
  });
</script>